@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@()(implicit request: Request[_], messages: Messages)

    @main_template(Messages("account.confirmation.title"), topNavigation = false) {
        <div class="grid-row">
            <div class="column-two-thirds">

                <div class="transaction-banner--complete">
                    <h1 class="transaction-banner__heading">@Messages("account.confirmation.heading")</h1>
                </div>

                <p>@Html(Messages("account.confirmation.addToGG", "https://myaccount.gateway.gov.uk/Pages/Common/Help.aspx?content=Whitelabel_RegisterOrLogon_AboutGateway"))</p>

                <p>@Messages("account.confirmation.disclaimer")</p>

                <p>@Messages("account.confirmation.youCan")</p>

                <a href="@routes.Dashboard.manageProperties()" class="button" role="button">@Messages("link.manageProperties")</a>
            </div>
        </div>
    }
