@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@()(implicit request: Request[_], messages: Messages)

    @main_template(Messages("account.confirmation.title")) {
        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="form-title heading-large heading-confirmation">
                    <span class="tick">&#10004;</span> @Messages("account.confirmation.heading")
                    <span class="reference-text">@Messages("account.confirmation.heading.2")</span>
                </h1>

                <p>@Messages("account.confirmation.youCan")</p>
                
                <a href="@routes.Dashboard.home" class="button">@Messages("link.dashboard")</a>
            </div>
        </div>
    }
