@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import controllers.CreateGroupAccountVM
@import controllers.CreateGroupAccount.keys

@(model: CreateGroupAccountVM)(implicit request: Request[_], messages: Messages)


@main_template(title = Messages("createAccount.group.title")) {

            <div class="grid-row">
                <div class="column-two-thirds">

                    <h1 class="heading-large">@Messages("createAccount.group.title")</h1>

                    @form(routes.CreateGroupAccount.submit) {

                        @inputText(
                            field = model.form(keys.companyName),
                            '_label -> Messages("label.createAccount.companyName"),
                            '_labelClass -> "form-label-bold",
                            '_showConstraints -> false,
                            'class -> "form-control"
                        )

                        @address(model.form, keys.address)

                        @inputText(
                            field = model.form(keys.email),
                            '_label -> Messages("label.createAccount.businessEmail"),
                            '_labelClass -> "form-label-bold",
                            '_showConstraints -> false,
                            'class -> "form-control"
                        )

                        @inputText(
                            field = model.form(keys.phone),
                            '_label -> Messages("label.createAccount.businessPhone"),
                            '_labelClass -> "form-label-bold",
                            '_showConstraints -> false,
                            'class -> "form-control"
                        )

                        @inputRadioGroup(
                            field = model.form(keys.isSmallBusiness),
                            options = Seq("true", "false"),
                            dataAttributes = Nil,
                            args = Seq(
                                '_label -> Messages("label.isSmallBusiness"),
                                '_labelClass -> "form-label-bold",
                                '_detailsQuestion -> Messages("isSmallBusiness.details.question"),
                                '_detailsAnswer -> Messages("isSmallBusiness.details.answer"),
                                '_legend -> true,
                                '_fieldsetClass -> "inline"
                            )
                        )

                        @inputRadioGroup(
                            field = model.form(keys.isAgent),
                            options = Seq("true", "false"),
                            dataAttributes = Nil,
                            args = Seq(
                                '_label -> Messages("label.isAgent"),
                                '_labelClass -> "form-label-bold",
                                '_legend -> true,
                                '_fieldsetClass -> "inline"
                            )
                        )

                        <p class="panel-indent">@Messages("isAgent.details")</p>

                        <p>
                        <button type="submit" id="continue" class="button">@Messages("label.continue")</button>
                    </p>
                    }

                </div>
            </div>

    }
