@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(businessName: String)(implicit request: Request[_], messages: Messages)

    @main_template(Messages("groupAlreadyExists.title", businessName), topNavigation = false) {
        <div class="grid-row">
            <div class="column-two-thirds">

                <div class="transaction-banner--complete">
                  <h1 class="transaction-banner__heading">@Messages("groupAlreadyExists.title", businessName)</h1>
                  <p class="heading-medium no-margin">@Messages("groupAlreadyExists.addedToGroup")</p>
                </div>

                <p>@Messages("account.confirmation.alreadyRegistered.youCan")</p>
                <ul class="list list-bullet">
                    <li>@Messages("account.confirmation.alreadyRegistered.youCan.1")</li>
                    <li>@Messages("account.confirmation.alreadyRegistered.youCan.2")</li>
                </ul>

                <p>
                    <a role="button" href="@routes.Dashboard.home" class="button">@Messages("link.dashboard")</a>
                </p>

            </div>
        </div>
    }
