@import actions.AuthenticatedRequest
@import utils.Formatters

@(model: controllers.AssessmentsVM)(implicit request: AuthenticatedRequest[_], messages: Messages)

@main_template(
    title = Messages("assessments.title"),
    topBackLink = true,
    bottomBackLink = true,
    individualId = Some(request.personId),
    backLinkUrl = Some(routes.Dashboard.manageProperties().url)
) {
    <h1 class="heading-xlarge margin-bottom-0 clear-right">
    @Messages("assessments.title")
    </h1>

    <h2 class="heading-secondary">@(Formatters.capitalizedAddress(model.assessments.head.address))</h2>

    <div class="table-wrapper">
        <table class="table-font-xsmall margin-bottom-20 margin-top-30">
            <caption class="visuallyhidden">@Messages("assessments.table.caption")</caption>
            <tbody>
                <tr>
                    <th scope="col">@Messages("assessments.table.1")</th>
                    <th scope="col">@Messages("assessments.table.2")</th>
                    <th scope="col">@Messages("assessments.table.3")</th>
                    <th scope="col">@Messages("assessments.table.4")</th>
                    <th scope="col">@Messages("assessments.table.5")</th>
                    <th scope="col">@Messages("assessments.table.6")</th>
                </tr>
                @model.assessments.map { assessment =>
                    <tr>
                        <td>
                            @(Formatters.formatDate(assessment.effectiveDate))
                        </td>
                        <td>
                            £@{
                            assessment.rateableValue
                        }
                        </td>
                        <td>
                        @Messages(s"capacity.${assessment.capacity.capacity}")
                        </td>
                        <td>
                        @(Formatters.formatDate(assessment.capacity.fromDate))
                        </td>
                        <td>
                        @{
                            assessment.capacity.toDate.map(Formatters.formatDate).getOrElse(Messages("assessments.enddate.present"))
                        }
                        </td>
                        <td>
                            <ul class="list">
                            @if(model.linkPending) {
                                <li>
                                    <a href="@routes.Assessments.viewSummary(assessment.uarn)">
                                        @Messages("assessments.view.summary")
                                        <span class="visuallyhidden">for @(Formatters.formatDate(assessment.capacity.fromDate)) to @{
                                            assessment.capacity.toDate.map(Formatters.formatDate).getOrElse(Messages("assessments.enddate.present"))
                                        }</span>
                                    </a>
                                </li>
                            } else {
                                <li><a href="@routes.Assessments.viewDetailedAssessment(assessment.authorisationId, assessment.assessmentRef, assessment.billingAuthorityReference)">
                                    @Messages("assessments.view.valuation")
                                    <span class="visuallyhidden">for @(Formatters.formatDate(assessment.capacity.fromDate)) to @{
                                        assessment.capacity.toDate.map(Formatters.formatDate).getOrElse(Messages("assessments.enddate.present"))
                                    }</span>
                                </a></li>
                            }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
