@import java.time.format.DateTimeFormatter
@import models.messages.Message

@(message: Message)(implicit request: Request[_], messages: Messages)

<div id="messageContent">
    <h1 class="heading-small">@message.subject</h1>

    <p><strong>@Messages("checkReceived.reference", message.caseReference)</strong></p>

    <p><strong>@Messages("checkReceived.address", message.address)</strong></p>

    <p><strong>@Messages("checkReceived.timestamp", message.effectiveDate.format(DateTimeFormatter.ofPattern("d MMMM yyyy hh:mm a")))</strong></p>

    @Html(Messages("checkReceived.template.1", message.submissionId, message.caseReference))

    <h3 class="heading-small">@Messages("checkReceived.template.whatNow")</h3>

    @Html(Messages("checkReceived.template.2"))
</div>