@import utils.Formatters._
@import actions.AuthenticatedRequest

@(model: DraftCasesVM)(implicit request: AuthenticatedRequest[_], messages: Messages)

@detailedValuationUrl(draft: DraftCase) = @{
    routes.Assessments.viewDetailedAssessment(draft.propertyLinkId, draft.assessmentRef, draft.baRef)
}

@main_template(
    title = Messages("draftCases.title"),
    topBackLink = true,
    bottomBackLink = true,
    individualId = Some(request.personId),
    backLinkUrl = Some(routes.Dashboard.home().url)
) {

    <h1 class="heading-xlarge margin-bottom-0 clear-right">
    @Messages("draftCases.title")
    </h1>

    <p>@Messages("draftCases.p.expiry")</p>

    @if(model.draftCases.nonEmpty) {

        <div class="table-wrapper">
            <table class="table-font-xsmall margin-bottom-20 margin-top-30">
                <caption class="visuallyhidden">@Messages("draftCases.table.caption")</caption>
                <colgroup>
                    <col width="60%">
                    <col width="20%">
                    <col width="20%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">@Messages("draftCases.table.1")</th>
                        <th scope="col">@Messages("draftCases.table.3")</th>
                        <th scope="col">@Messages("draftCases.table.4")</th>
                    </tr>
                </thead>
                <tbody>
                    @model.draftCases.map { draftCase =>
                        <tr>
                            <td>@capitalizedAddress(draftCase.address)</td>
                            <td>@formatDate(draftCase.expirationDate)</td>
                            <td>
                                <ul>
                                    <li><a href="@draftCase.url">@Messages("draftCase.continue.check")</a></li>
                                    <li><a href="@detailedValuationUrl(draftCase)">@Messages("draftCase.viewValuation")</a></li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    } else {
        <p>@Messages("draftCases.p.empty")</p>
    }
}
