@import _root_.template.Display

@(model: DraftCasesVM)(implicit request: Request[_], messages: Messages)

@main_template(
    title = Messages("draftCases.title"),
    topBackLink = true,
    bottomBackLink = true
) {

        <h1 class="heading-xlarge margin-top-10">
            @Messages("draftCases.title")
        </h1>

        <table class="table-font-xsmall margin-bottom-20">
            <caption class="visuallyhidden">@Messages("draftCases.table.caption")</caption>
            <tbody>
                <tr>
                    <th scope="col">@Messages("draftCases.table.1")</th>
                    <th scope="col">@Messages("draftCases.table.2")</th>
                    <th scope="col">@Messages("draftCases.table.3")</th>
                    <th scope="col">@Messages("draftCases.table.4")</th>
                    <th scope="col">@Messages("draftCases.table.5")</th>
                </tr>
                @model.draftCases.map{ draftCase =>
                    <tr>
                        <td scope="row">
                            <a href="@routes.Dashboard.assessments(draftCase.linkId)">
                                @{draftCase.address}
                            </a>
                        </td>
                        <td>
                        @{draftCase.effectiveDate}
                        </td>
                        <td>
                        @{draftCase.caseType}
                        </td>
                        <td>
                        @{draftCase.agent}
                        </td>
                        <td>
                        @{draftCase.caseExpiryDate}
                        </td>
                    </tr>
                }
            </tbody>
        </table>

}
