@import config.ApplicationConfig
@import actions.AuthenticatedRequest

@(individualDetails: IndividualDetails, groupAccount:GroupAccount)(implicit request: AuthenticatedRequest[_], messages: Messages)

@main_template(
    title = Messages("dashboard.home.title"),
    individualId = Some(request.personId)
    ) {


    <h1 class="heading-xlarge margin-bottom-0 clear-right">
        <span class="heading-secondary">
            @(individualDetails.firstName) @(individualDetails.lastName)
        </span>
        <span class="section-title">@Messages("dashboard.home.title")</span>
        @if(groupAccount.isAgent){
            <span class="agent-code pull-right">
                Agent Code: @(groupAccount.agentCode)
            </span>
        }
    </h1>

    <hr class="main-header">

    <div class="grid-row">
        <div class="column-two-thirds">

            <h2 class="heading-large heading-with-rule">@Messages("dashboard.home.properties")</h2>

            <h3 class="heading-medium">
                <a href="@routes.Dashboard.manageProperties()">@Messages("dashboard.home.manageProperties.link")</a>
            </h3>

            <p>
                @Messages("dashboard.home.manageProperties.text")
            </p>

            <h3 class="heading-medium">
                <a href="@controllers.propertyLinking.routes.ClaimProperty.show">@Messages("dashboard.home.searchProperties.link")</a>
            </h3>
            <p>
            @Messages("dashboard.home.searchProperties.text")
            </p>

            @if(ApplicationConfig.casesEnabled) {
                <h2 class="heading-large heading-with-rule">@Messages("dashboard.home.cases")</h2>
                <h3 class="heading-medium"> @Messages("dashboard.home.draft.cases") </h3>
                <p>
                    <a href="@routes.Dashboard.draftCases">@Messages("dashboard.home.draft.cases.text")</a>
                </p>
            }

            <h3 class="heading-medium">
                @Messages("dashboard.home.plannedFeatures")
            </h3>

            <ul class="list list-bullet">
                <li>View draft forms</li>
                <li>View messages</li>
                <li>Manage cases</li>
                <li>Manage personal details</li>
                <li>Manage notifications</li>
            </ul>


            <h3 class="heading-medium">
            @Messages("dashboard.home.usefulLinks")
            </h3>

            <p><a href="https://www.gov.uk/guidance/how-non-domestic-property-including-plant-and-machinery-is-valued">@Messages("dashboard.home.usefulLinks.1")</a></p>
            <p><a href="https://www.gov.uk/guidance/how-to-check-your-rateable-value-is-correct">@Messages("dashboard.home.usefulLinks.2")</a></p>

        </div>

        <div class="column-one-third">
            <h2 class="heading-large heading-with-rule">@Messages("dashboard.home.management")</h2>
            <h3 class="heading-medium">
                <a id="manageAgents" href="@controllers.routes.Dashboard.manageAgents">@Messages("dashboard.home.manageAgents.link")</a>
            </h3>

            <p>
            @Messages("dashboard.home.manageAgents.text")
            </p>

            @if(groupAccount.isAgent) {
                <h3 class="heading-medium">
                    <a href="@controllers.agent.routes.RepresentationController.manageRepresentationRequest()">
                    @Messages("dashboard.home.clients.link")
                    </a>
                </h3>
                <p>
                @Messages("dashboard.home.clients.text")
                </p>
            }


        <h3 class="heading-medium">
            <a id="addUserFromBusiness" href="@controllers.routes.Application.addUserToGG">@Messages("dashboard.home.addAnotherUser.link")</a>
        </h3>

        <p>@Messages("dashboard.home.addAnotherUser.text")</p>

        </div>
    </div>



}
