@()(implicit  messages: Messages)

<div class="table-wrapper hide-if-no-js">
    <table id="dataTableManageProperties" class="table-font-xsmall margin-bottom-20 margin-top-20">
        <caption class="visuallyhidden">@Messages("manageClients.table.caption")</caption>
        <colgroup>
            <col width="120px">
            <col>
            <col width="120px">
            <col width="160px">
            <col width="140px">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">@Messages("manageClients.table.1")</th>
                <th scope="col">@Messages("manageClients.table.2")</th>
                <th scope="col">@Messages("manageClients.table.3")</th>
                <th scope="col">@Messages("manageClients.table.4")</th>
                <th scope="col">@Messages("manageClients.table.5")</th>
            </tr>
        </thead>
    </table>
</div>
