@(model: controllers.agent.ManageClientPropertiesSearchAndSortVM)(implicit  messages: Messages)

<div class="table-wrapper hide-if-no-js">
    <table id="dataTableManageClientsSearchSort" class="table-font-xsmall margin-bottom-20 margin-top-20">
        <caption class="visuallyhidden">
            @Messages("agent.dashboard.manageClients.existingClients")
        </caption>
        <thead>
            <tr>
                <th scope="col">@Messages("managePropertiesSearchSort.table.1")</th>
                <th scope="col">@Messages("managePropertiesSearchSort.table.2")</th>
                <th scope="col">@Messages("managePropertiesSearchSort.table.3")</th>
                <th scope="col">@Messages("managePropertiesSearchSort.table.4")</th>
                <th scope="col">@Messages("managePropertiesSearchSort.table.5")</th>
            </tr>
            <tr>
                <th scope="col"><div class="searchfield"><input name="address" id="address" size="10" class="ss-input"><button id="addressBtn" class="search-submit ss-button"></button></div></th>
                <th scope="col"><div class="searchfield"><input name="baref"  id="baref" size="10" class="ss-input"><button id="barefBtn" class="search-submit ss-button"></button></div></th>
                <th scope="col"><div class="searchfield">@propertyLinkingStatusDropdown(model.pagination.valueOfStatus)</div></th>
                <th scope="col"><div class="searchfield"><input name="client"  id="client" size="8" class="ss-input"><button id="clientBtn" class="search-submit ss-button"></button></div></th>
                <th scope="col"><a href="#" class="clear">@Messages("manageProperties.table.clear.search")</a></th>
            </tr>
        </thead>
    </table>
</div>
