@()(implicit  messages: Messages)

<div class="table-wrapper hide-if-no-js">
    <table id="dataTableManageClientsSearchSort" class="table-font-xsmall margin-bottom-20 margin-top-20">
        <caption class="visuallyhidden">
            @Messages("agent.dashboard.manageClients.existingClients")
        </caption>
        <colgroup>
            <col style="width: 200px">
            <col style="width: 140px">
            <col style="width: 130px">
            <col style="width: 130px">
        </colgroup>
        <thead>
            <tr>
                <th scope="col">@Messages("managePropertiesSearchSort.table.1")</th>
                <th scope="col">@Messages("managePropertiesSearchSort.table.2")</th>
                <th scope="col">@Messages("managePropertiesSearchSort.table.3")</th>
                <th scope="col">@Messages("managePropertiesSearchSort.table.4")</th>
            </tr>
            <tr>
                <th scope="col"><input name="address" id="address" size="10" ><button id="addressBtn" class="icon"><i class="icon icon-search"></i></button></th>
                <th scope="col"><input name="baref"  id="baref" size="10" ><button id="barefBtn" class="icon"><i class="icon icon-search"></i></button></th>
                <th scope="col"><input name="client"  id="client" size="8" ><button id="clientBtn" class="icon"><i class="icon icon-search"></i></button></th>
                <th scope="col"><a href="#" class="clear">@Messages("manageProperties.table.clear.search")</a></th>
            </tr>
        </thead>
    </table>
</div>
