@()(implicit  messages: Messages)

<div class="table-wrapper hide-if-no-js">
    <table id="dataTableManageProperties" class="table-font-xsmall margin-bottom-20 margin-top-20">
        <caption class="visuallyhidden">@Messages("manageProperties.table.caption")</caption>
        <col>
        <col width="120px">
        <col width="120px">
        <col width="160px">
        <col width="140px">
        <thead>
            <tr>
                <th scope="col">@Messages("manageProperties.table.1")</th>
                <th scope="col">@Messages("manageProperties.table.2")</th>
                <th scope="col">@Messages("manageProperties.table.3")</th>
                <th scope="col">@Messages("manageProperties.table.4")</th>
                <th scope="col">@Messages("manageProperties.table.5")</th>
            </tr>
        </thead>
    </table>
</div>
