@()(implicit  messages: Messages)

<div class="table-wrapper hide-if-no-js">
    <table id="dataTablePendingRequests" class="table-font-xsmall margin-bottom-20 margin-top-20">
        <caption class="visuallyhidden">
            @Messages("pendingRepresentationRequests.title")
        </caption>
        <div class="margin-top-10 panel panel-border-wide">
            <p class="font-xsmall">
                @Messages("agent.request.warning")
            </p>
        </div>
        <thead>
            <tr>
                <th scope="col">@Messages("pendingRepresentationRequests.table.1")</th>
                <th scope="col">@Messages("pendingRepresentationRequests.table.2")</th>
                <th scope="col">@Messages("pendingRepresentationRequests.table.3")</th>
                <th scope="col">@Messages("pendingRepresentationRequests.table.4")</th>
                <th scope="col">@Messages("pendingRepresentationRequests.table.5")</th>
            </tr>
        </thead>
    </table>
</div>
