@import _root_.template.Display
@import config.ApplicationConfig
@import utils.Formatters
@import actions.AuthenticatedRequest

@(model: controllers.ManagedPropertiesVM)(implicit request: AuthenticatedRequest[_], messages: Messages)

@main_template(
    title = Messages("dashboard.managedByAgentsProperties.title", model.agentName),
    topBackLink = true,
    bottomBackLink = true,
    individualId = Some(request.personId),
    backLinkUrl = Some(routes.Dashboard.manageAgents().url)
) {

    <h1 class="heading-xlarge clear-right">
        <span class="heading-secondary">
            @Messages("dashboard.managedByAgentsProperties.title", "")
        </span>
        <span class="section-title">@model.agentName</span>
    </h1>

    <div class="table-wrapper">
        <table class="table-font-xsmall margin-bottom-20">
            <caption class="visuallyhidden">@Messages("managedByAgentsProperties.table.caption")</caption>
            <col>
            <col>
            <col>
            <col style="width: 20%">
            <col style="width: 20%">
            <tbody>
                <tr>
                    <th scope="col">@Messages("managedByAgentsProperties.table.1")</th>
                    <th scope="col">@Messages("managedByAgentsProperties.table.2")</th>
                    <th scope="col">@Messages("managedByAgentsProperties.table.3")</th>
                    <th scope="col">@Messages("managedByAgentsProperties.table.4")</th>
                    <th scope="col" style="width: 15%">@Messages("managedByAgentsProperties.table.5")</th>
                </tr>
                @model.properties.map { p =>
                    <tr>
                        <td>
                            @(Formatters.capitalizedAddress(p.address))
                        </td>
                        <td>
                            @{p.assessments.headOption.map(_.billingAuthorityReference).getOrElse("Unknown")}
                        </td>
                        <td>
                            @if(p.pending) {
                                @Messages("dashboard.managedByAgentsProperties.status.pending")
                            } else {
                                @Messages("dashboard.managedByAgentsProperties.status.added")
                            }
                        </td>
                        <td>
                            <ul class="list">
                                @if(p.agents.isEmpty){
                                    @Messages("dashboard.managedByAgentsProperties.noAgent")
                                } else {
                                    @p.agents.map { agent =>
                                        <li>@agent.organisationName</li>
                                    }
                                }
                            </ul>
                        </td>
                        <td>
                            <ul class="list">
                                <li>
                                    <a href="@agentAppointment.routes.RevokeAgentController.revokeAgent(p.authorisationId, p.agents.filter(_.agentCode == model.agentCode).head.authorisedPartyId, model.agentCode)">
                                        @Messages("manageProperties.revokeAgent")
                                    </a>
                                </li>
                               <li>
                                   <a href="@agentAppointment.routes.AppointAgentController.appoint(p.authorisationId)">@Messages("manageProperties.addAgent")</a>
                               </li>
                            @if(p.assessments.nonEmpty){
                                <li>
                                    <a href="@routes.Assessments.assessments(p.authorisationId)">
                                        @Messages("manageProperties.viewAssessments")
                                    </a>
                                </li>
                            }
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
