@import actions.AuthenticatedRequest
@import utils.Formatters

@(model: controllers.ManagePropertiesSearchAndSortVM, unreadMessageCount: Int)(implicit request: AuthenticatedRequest[_], messages: Messages)

    @heading = @{
        Messages("dashboard.manageProperties.title")
    }

    @main_template(
        title = heading,
        individualId = Some(request.personId),
        topNavigation = false
    ) {

        @partials.dashboardTabs(unreadMessageCount)

        <p>@Messages("dashboard.manageProperties.expectDelays")</p>

        @if(model.result.authorisations.isEmpty && model.pagination.valuesOfSearchParameters == "") {
            <h2 class="heading-secondary">@Messages("dashboard.manageProperties.noProperties")</h2>
        } else {

            @jsManagePropertiesSearchSort(model)

            @helpers.pagination_footer(model.pagination)
            <noscript>
                @helpers.paginationControlsSearchSort(model.pagination, routes.Dashboard.managePropertiesSearchSort, "agent")

                <div class="table-wrapper">
                    <table class="dataTable table-font-xsmall margin-bottom-20 margin-top-20" id="nojsManageProperties">
                        <caption class="visuallyhidden">@Messages("manageProperties.table.caption")</caption>
                        <tbody>

                            <tr role="row">
                                <th scope="col" >
                                    @if(model.pagination.valueOfSortfield == "address") {
                                        <div class="sorting_@model.pagination.valueOfSortorder.toLowerCase" >
                                        } else {
                                        <div class="sorting" >
                                        }
                                    <a href="@routes.Dashboard.managePropertiesSearchSort(model.pagination.pageNumber, model.pagination.pageSize, model.pagination.requestTotalRowCount, Some("address"),  model.pagination.reverseSortOrder,  model.pagination.status,  model.pagination.address,  model.pagination.baref,  model.pagination.agent).url">@Messages("manageProperties.table.1")</a>
                                </div>
                                </th>
                                <th scope="col" >
                                    @if(model.pagination.valueOfSortfield == "baref") {
                                        <div class="sorting_@model.pagination.valueOfSortorder.toLowerCase" >
                                        } else {
                                        <div class="sorting" >
                                        }
                                    <a href="@routes.Dashboard.managePropertiesSearchSort(model.pagination.pageNumber, model.pagination.pageSize, model.pagination.requestTotalRowCount, Some("baref"),  model.pagination.reverseSortOrder,  model.pagination.status,  model.pagination.address,  model.pagination.baref,  model.pagination.agent).url">@Messages("manageProperties.table.2")</a>
                                </div>
                                </th>
                                <th scope="col">
                                    @if(model.pagination.valueOfSortfield == "status") {
                                        <div class="sorting_@model.pagination.valueOfSortorder.toLowerCase" >
                                        } else {
                                        <div class="sorting" >
                                        }
                                    <a href="@routes.Dashboard.managePropertiesSearchSort(model.pagination.pageNumber, model.pagination.pageSize, model.pagination.requestTotalRowCount, Some("status"),  model.pagination.reverseSortOrder,  model.pagination.status,  model.pagination.address,  model.pagination.baref,  model.pagination.agent).url">@Messages("manageProperties.table.3")</a>
                                </th>
                                <th scope="col">
                                    @if(model.pagination.valueOfSortfield == "agent") {
                                        <div class="sorting_@model.pagination.valueOfSortorder.toLowerCase" >
                                        } else {
                                        <div class="sorting" >
                                        }
                                    <a href="@routes.Dashboard.managePropertiesSearchSort(model.pagination.pageNumber, model.pagination.pageSize, model.pagination.requestTotalRowCount, Some("agent"),  model.pagination.reverseSortOrder,  model.pagination.status,  model.pagination.address,  model.pagination.baref,  model.pagination.agent).url">@Messages("manageProperties.table.4")</a></div>
                                </th>
                                <th scope="col">
                                    <div>@Messages("manageProperties.table.5")</div>
                                </th>
                            </tr>
                            <form method="GET" action="@routes.Dashboard.managePropertiesSearchSort()">
                                <tr role="row">
                                    <th scope="col"><div class="searchfield"><label for="address" class="visually-hidden">@Messages("manageProperties.table.1") </label><input name="address" value="@model.pagination.valueOfAddress" id="address" size="10" class="ss-input"><button id="addressBtn" class="search-submit ss-button">Search for @Messages("manageProperties.table.1") </button></div></th>
                                    <th scope="col"><div class="searchfield"><label for="baref" class="visually-hidden">@Messages("manageProperties.table.2")  </label><input name="baref"  value="@model.pagination.valueOfBaref" id="baref" size="10" class="ss-input"><button id="barefBtn" class="search-submit ss-button">Search for @Messages("manageProperties.table.2") </button></div></th>
                                    <th scope="col"><div class="searchfield">@propertyLinkingStatusDropdown(model.pagination.valueOfStatus)</div></th>
                                    <th scope="col"><div class="searchfield"><label for="agent" class="visually-hidden">@Messages("manageProperties.table.4")  </label><input name="agent"  value="@model.pagination.valueOfAgent" id="agent" size="8" class="ss-input"><button id="agentBtn" class="search-submit ss-button">Search for @Messages("manageProperties.table.4") </button></div></th>
                                    <th scope="col"><a href="@routes.Dashboard.managePropertiesSearchSort().url" class="clear">@Messages("manageProperties.table.clear.search")</a></th>

                                </tr>
                                <input type="hidden" name="sortorder" value="@model.pagination.valueOfSortorder" />
                                <input type="hidden" name="sortfield" value="@model.pagination.valueOfSortfield" />
                            </form>

                            @if(model.result.authorisations.isEmpty) {
                                <tr>
                                    <td colspan="5">
                                        <h2 class="heading-secondary">@Messages("no.search.results.found")</h2>
                                    </td>
                                </tr>
                            }
                            @model.result.authorisations.map { p =>
                                <tr>
                                    <td>
                                        @(Formatters.capitalizedAddress(p.address))
                                    </td>
                                    <td>
                                    @{
                                        p.localAuthorityRef
                                    }
                                    </td>
                                    <td>
                                        <ul class="list">
                                            <li>
                                                <span>@Messages("dashboard.manageProperties.status." + p.status.toLowerCase)</span>
                                                @if(p.status.toLowerCase == "declined") {
                                                    <a class="help" href="#declinedHelp" data-toggle="dialog" data-target="declinedHelp-dialog">
                                                        <i>
                                                            <span class="visuallyhidden">@Messages("declined.getHelp")</span>
                                                        </i>
                                                    </a>
                                                }
                                            </li>
                                            @if(p.status.toLowerCase == "pending") {
                                                <li>
                                                    <span class="submission-id">
                                                    @Messages("dashboard.manageProperties.submissionId", p.submissionId)
                                                    </span>
                                                </li>
                                            }
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list">
                                        @if(p.agents.isEmpty) {
                                            <li></li>
                                        } else {
                                            @p.agents.get.map { agent =>
                                                <li>@agent.organisationName</li>
                                            }
                                        }
                                        </ul>
                                    </td>
                                    <td>
                                        <ul class="list">
                                            <li>
                                                <a href="@agentAppointment.routes.AppointAgentController.appoint(p.authorisationId)">@Messages("manageProperties.addAgent")
                                                    <span class="visuallyhidden">
                                                        for @(Formatters.capitalizedAddress(p.address))</span>
                                                </a>
                                            </li>
                                            <li>
                                            @if(p.status.toLowerCase == "approved" || p.status.toLowerCase == "pending") {
                                                <a href="@routes.Assessments.assessments(p.authorisationId)">@Messages("manageProperties.viewAssessments")
                                                    <span class="visuallyhidden"> for @(Formatters.capitalizedAddress(p.address))</span>
                                                </a>
                                            } else {
                                                <a href="@routes.Assessments.viewSummary(p.uarn)">@Messages("manageProperties.viewAssessments")
                                                    <span class="visuallyhidden"> for @(Formatters.capitalizedAddress(p.address))</span>
                                                </a>
                                            }
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>

                <p class="pull-left">
                    Showing
                    @if(model.result.authorisations.isEmpty) {
                        0
                    }else{
                        @model.pagination.startPoint
                    } to @{
                        model.pagination.totalResults.min(model.pagination.startPoint + model.pagination.pageSize - 1)
                    } of @model.pagination.totalResults
                </p>

                <div role="navigation" aria-label="Pagination">
                    <ul class="pagination">
                        @if(model.pagination.pageNumber > 1) {
                            <li class="previous "><a href="@routes.Dashboard.managePropertiesSearchSort(model.pagination.pageNumber - 1, model.pagination.pageSize, model.pagination.requestTotalRowCount, model.pagination.sortfield,  model.pagination.sortorder,  model.pagination.status,  model.pagination.address,  model.pagination.baref,  model.pagination.agent).url"><i class="previous-arrow"></i>Previous</a></li>
                        } else {
                            <li class="previous disabled"><i class="previous-arrow"></i>Previous</li>
                        }

                        <li class="active">@model.pagination.pageNumber</li>

                        @if(model.pagination.totalResults > model.pagination.startPoint + model.pagination.pageSize - 1) {
                            <li class="next">
                                    <a href="@routes.Dashboard.managePropertiesSearchSort(model.pagination.pageNumber + 1, model.pagination.pageSize, model.pagination.requestTotalRowCount, model.pagination.sortfield,  model.pagination.sortorder,  model.pagination.status,  model.pagination.address,  model.pagination.baref,  model.pagination.agent).url">Next<i class="next-arrow"></i></a></li>

                        } else {
                            <li class="next disabled">Next <i class="next-arrow"></i></li>
                        }
                    </ul>
                </div>
            </noscript>

            <div class="clearfix"></div>
            
            @views.html.helpers.declinedHelp()
        }

    <p><a href="@controllers.propertyLinking.routes.ClaimProperty.show" id="addAnotherProperty">@Messages("dashboard.managedProperties.addAnotherProperty")</a></p>

}
