@import controllers.agent.RepresentationController.ManagePropertiesVM

@(model: ManagePropertiesVM)(implicit request: Request[_], messages: Messages)

@main_template(
    Messages("agent.dashboard.manageClients.title"),
    topBackLink = true,
    bottomBackLink = true
) {


    <h1 class="heading-xlarge margin-bottom-0 clear-right">
        <span class="section-title">@Messages("agent.dashboard.manageClients.title")</span>
    </h1>


    <h2 class="heading-secondary">
       @if(model.propertyRepresentations.totalPendingRequests == 0) {
           @Messages("manageClients.nonePending")
       } else {
           <a href="@controllers.agent.routes.RepresentationController.pendingRepresentationRequest">
               @Messages("manageClients.noOfPending", model.propertyRepresentations.totalPendingRequests)
           </a>
       }
    </h2>


    @if(model.propertyRepresentations.propertyRepresentations.nonEmpty) {
        <div class="table-wrapper">
            <table class="table-font-xsmall margin-bottom-20 margin-top-30">
                <caption class="heading-medium">
                    @Messages("agent.dashboard.manageClients.existingClients")
                </caption>
                <thead>
                    <tr>
                        <th scope="col">@Messages("propertyRepresentations.table.1")</th>
                        <th scope="col">@Messages("propertyRepresentations.table.2")</th>
                        <th scope="col" class="last">@Messages("propertyRepresentations.table.3")</th>
                    </tr>
                </thead>
                <tbody>
                @model.propertyRepresentations.propertyRepresentations.groupBy(_.organisationName).map { case (groupName, properties) =>
                <tr>
                    <td>@groupName</td>
                    <td>
                        <a href="@controllers.routes.Dashboard.clientProperties(properties.headOption.map(_.organisationId).getOrElse(-1))">
                            @properties.size
                        </a>
                    </td>
                    <td class="last">
                        <a href="@controllers.routes.Dashboard.clientProperties(properties.headOption.map(_.organisationId).getOrElse(-1))">
                            @Messages("agent.dashboard.manageClients.viewProperties")
                        </a>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
    } else {
        <p>@Messages("agent.dashboard.manageClients.noClients")</p>
    }

}
