@import _root_.template.Display

@(model: controllers.Dashboard.ManagePropertiesVM)(implicit request: Request[_])

@main("") {
    <main id="content">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="form-title heading-xlarge">
                    <span class="section-title">@Messages("dashboard.manageProperties.title")</span>
                </h1>
            </div>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Property</th>
                    <th>BA ref#</th>
                    <th>Connection</th>
                    <th>Status</th>
                    <th>Date added</th>
                    <th>Assessments</th>
                    <th></th>
                    <th></th>
                </tr>
                @model.properties.added.map { p =>
                    <tr>
                        <td>@p.name</td>
                        <td>@p.billingAuthorityReference</td>
                        <td>@p.capacity</td>
                        <td>@Messages("dashboard.manageProperties.status.added")</td>
                        <td>@Display.date(p.linkedDate)</td>
                        <td>@p.assessmentYears.mkString(",")</td>
                        <td>
                            <a href=@controllers.routes.AppointAgentController.add()>@Messages("dashboard.addAgent")</a>
                        </td>
                        @if(p.representations.nonEmpty) {
                            <td><a href=@controllers.routes.AppointAgentController.edit()>
                                @Messages("dashboard.editAgent")
                                </a>
                            </td>
                        }
                    </tr>
                }
                @model.properties.pending.map { p =>
                    <tr>
                        <td>@p.name</td>
                        <td>@p.billingAuthorityReference</td>
                        <td>@p.capacity</td>
                        <td>@Messages("dashboard.manageProperties.status.pending")</td>
                        <td>@Display.date(p.linkedDate)</td>
                        <td></td>
                        <td>@Messages("dashboard.addAgent")</td>
                        @if(p.representations.nonEmpty) {
                            <td>@Messages("dashboard.editAgent")</td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        <p><a href="@routes.Search.show" id="addAnotherProperty">@Messages("dashboard.managedProperties.searchLinkText")</a></p>
    </main>
}