@import _root_.template.Display

@(model: controllers.ManagePropertiesVM)(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("dashboard.home.title")) {
        <div class="grid-row">
            <div class="column-two-thirds">
                <a class="link-back link-header" href="@routes.Dashboard.home" id="home">@Messages("link.dashboard.home")</a>
                <h1 class="heading-large">
                    @Messages("dashboard.manageProperties.title")
                </h1>
            </div>
        </div>
        @if(model.properties.isEmpty){
            @Messages("dashboard.manageProperties.noProperties")
        } else {
        <table class="table-font-xsmall">
            <caption class="visuallyhidden">@Messages("manageProperties.table.caption")</caption>
            <tbody>
                <tr>
                    <th scope="col">@Messages("manageProperties.table.1")</th>
                    <th scope="col">@Messages("manageProperties.table.2")</th>
                    <th scope="col">@Messages("manageProperties.table.3")</th>
                    <th scope="col">@Messages("manageProperties.table.4")</th>
                    <th scope="col">@Messages("manageProperties.table.5")</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                @model.properties.map { p =>
                    <tr>
                        <td scope="row">
                            <a href="#">
                                @{p.address.lines.headOption.getOrElse("") + ", " + p.address.postcode}
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                0
                            </a>
                        </td>
                        <td>
                            @if(p.pending) {
                                @Messages("dashboard.manageProperties.status.pending")
                            } else {
                                @Messages("dashboard.manageProperties.status.added")
                            }
                        </td>
                        <td>
                            <ul>
                                @p.agentNames.map{ name =>
                                    <li>@name</li>
                                }
                            </ul>
                        </td>
                        <td>@Display.date(p.linkedDate)</td>
                        <td class="last">
                            @if(p.canAppointAgent){
                                <a href=@routes.AppointAgentController.add(p.linkId)>@Messages("manageProperties.addAgent")</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <p><a href="@routes.Search.show" id="addAnotherProperty">@Messages("dashboard.managedProperties.searchLinkText")</a></p>
    <p><a class="link-back" href="@routes.Dashboard.home" id="home">@Messages("link.dashboard.home")</a></p>

}
