@(model: ManageAgentsVM)(implicit request: Request[_], messages: Messages)

@main_template(
    Messages("dashboard.manageAgents.title"),
    topBackLink = true,
    bottomBackLink = true,
    backLinkUrl = Some(routes.Dashboard.home().url)
) {
    <h1 class="heading-xlarge margin-bottom-0 clear-right">
        <span class="section-title">@Messages("dashboard.manageAgents.title")</span>
    </h1>

    @if(model.agents.isEmpty) {
        <h2 id="noAgents" class="heading-secondary">
            @Messages("dashboard.manageAgents.noAgents")
        </h2>
    }

    @if(model.agents.nonEmpty) {
        <div class="table-wrapper">
            <table id="agentsTable" class="table-font-xsmall margin-top-30 margin-bottom-20">
                <caption class="visuallyhidden">@Messages("dashboard.manageAgents.title")</caption>
                <thead>
                    <tr>
                        <th scope="col">@Messages("dashboard.manageAgents.table.1")</th>
                        <th scope="col">@Messages("dashboard.manageAgents.table.2")</th>
                        <th scope="col">@Messages("dashboard.manageAgents.table.3")</th>
                    </tr>
                </thead>
                <tbody>
                @model.agents.map { agent =>
                    <tr>
                        <td >@agent.organisationName</td>
                        <td>@agent.agentCode</td>
                        <td>
                            <a class="viewManagedProperties" href="@routes.Dashboard.viewManagedProperties(agent.agentCode)">
                                @Messages("dashboard.manageAgents.viewManagedProperties")
                                <span class="visually hidden"> for @agent.organisationName</span>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }

    <p>@Html(Messages("manageAgents.howToAppoint", routes.Dashboard.manageProperties().url))</p>

}
