@import models.messages._
@import java.time.format.DateTimeFormatter
@import actions.AuthenticatedRequest

@(results: MessageSearchResults, pagination: MessagePagination,
        unreadCount: Int, numberOfPages: Int)(implicit request: AuthenticatedRequest[_], messages: Messages)

@main_template(
    Messages("messages.title"),
    topNavigation = false
) {

    @partials.dashboardTabs(unreadCount)

    @if(results.messages.isEmpty) {
        <p id="noMessages">@Messages("messages.noMessages")</p>
    } else {
        <table id="messagesTable" class="messages dataTable table-font-xsmall no-footer">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
                @if(request.organisationAccount.isAgent) { <col> }
                <col>
            </colgroup>
            <thead>
                <tr role="row">
                    <th class="message--status">@sortingControl(MessageSortField.LastRead)</th>
                    <th class="messages--subject">@sortingControl(MessageSortField.Subject)</th>
                    <th class="messages--address">@sortingControl(MessageSortField.Address)</th>
                    <th class="messages--reference">@sortingControl(MessageSortField.CaseReference)</th>
                    @if(request.organisationAccount.isAgent) {
                        <th class="messages--client">@sortingControl(MessageSortField.ClientName)</th>
                    }
                    <th class="messages--date">@sortingControl(MessageSortField.EffectiveDate)</th>
                </tr>
            </thead>

            <tbody>
            @results.messages.map { m =>
                <tr class="messages--row @rowClass(m)">
                    <td>
                    @if(m.lastRead.isDefined) {
                        <a href="#">
                            <i class="icon icon-messageread">
                                <span class="visuallyhidden">@Messages("messages.read")</span>
                            </i>
                        </a>
                    } else {
                        <a href="#">
                            <i class="icon icon-messageunread">
                                <span class="visuallyhidden">@Messages("messages.unread")</span>
                            </i>
                        </a>
                    }
                    </td>
                    <td>@m.subject</td>
                    <td>@m.address</td>
                    <td>@m.caseReference</td>
                    @if(request.organisationAccount.isAgent) {
                        <td>@m.clientName.getOrElse("None")</td>
                    }
                    <td>@m.effectiveDate.format(DateTimeFormatter.ofPattern("d MMMM yyyy hh:mm a"))</td>
                </tr>
            }
            </tbody>
        </table>

        <div id="messagesTable_info">@Messages("messages.paginationInfo", pagination.pageNumber, numberOfPages)</div>

        <div id="messagesTable_paginate" class="dataTables_paginate paging_simple_numbers">
            @if(pagination.pageNumber == 1) {
                <a id="messagesTable_previous" class="paginate_button previous disabled">@Messages("pagination.previous")</a>
            } else {
                <a id="messagesTable_previous" class="paginate_button previous" href="@routes.Dashboard.viewMessages(pagination.previousPage)">@Messages("pagination.previous")</a>
            }

            @for(i <- 1 to numberOfPages) {
                @if(pagination.pageNumber == i) {
                    <a class="paginate_button current">@i</a>
                } else {
                    <a href="@routes.Dashboard.viewMessages(pagination.copy(pageNumber = i))" class="paginate_button">@i</a>
                }
            }

            @if(pagination.pageNumber < numberOfPages) {
                <a id="messagesTable_next" class="paginate_button next" href="@routes.Dashboard.viewMessages(pagination.nextPage)">@Messages("pagination.next")</a>
            } else {
                <a id="messagesTable_next" class="paginate_button next disabled">@Messages("pagination.next")</a>
            }
        </div>
    }
}

@rowClass(msg: Message) = @{
    if(msg.lastRead.isDefined) {
        "messages--row__read"
    } else {
        "messages--row__unread"
    }
}

@sortingControl(field: MessageSortField) = {
    @if(pagination.sortField == field) {
        <div class="sorting_@pagination.sortOrder">
            <a href="@routes.Dashboard.viewMessages(pagination.reverseSorting)">@Messages(s"messages.th.$field")</a>
        </div>
    } else {
        <div class="sorting">
            <a href="@routes.Dashboard.viewMessages(pagination.copy(sortField = field, sortOrder = SortOrder.Ascending))">@Messages(s"messages.th.$field")</a>
        </div>
    }
}