@import controllers.agent.RepresentationController.ManagePropertiesVM
@import utils.Formatters
@import helpers._
@import uk.gov.hmrc.play.views.html.helpers.form


@(f: Form[_], model: ManagePropertiesVM)(implicit request: Request[_], messages: Messages)

@main_template(
    title = Messages("manageProperties.pendingRequests"),
    topBackLink = true,
    bottomBackLink = true,
    backLinkUrl = Some(controllers.agent.routes.RepresentationController.viewClientProperties().url)
) {


    <h1 class="heading-xlarge margin-bottom-0 clear-right">
    @Messages("pendingRepresentationRequests.title")
    </h1>

    @if(model.propertyRepresentations.isEmpty) {
        <h2 class="heading-secondary">@Messages("dashboard.manageProperties.noProperties")</h2>
    } else {

        @form(controllers.agent.routes.RepresentationController.confirm) {
            <div class="margin-top-10 panel panel-border-wide">
                <p class="font-xsmall"> @Messages("agent.request.warning")</p>
            </div>

            <div class="margin-top-20 hide-if-no-js">
                <a href="#" id="select-all-top">@Messages("pendingRepresentationRequests.select.deselect")</a>
            </div>

            <div class="table-wrapper">
                <table class="table-font-xsmall margin-bottom-20 margin-top-30" id="nojsPendingRequests">
                    <caption class="visuallyhidden">@Messages("pendingRepresentationRequests.title")</caption>
                    <tbody>
                        <tr>
                            <th scope="col">@Messages("pendingRepresentationRequests.table.select")</th>
                            <th scope="col">@Messages("pendingRepresentationRequests.table.orgName")</th>
                            <th scope="col">@Messages("pendingRepresentationRequests.table.propertyAddress")</th>
                            <th scope="col">@Messages("pendingRepresentationRequests.table.permissions")</th>
                            <th scope="col">@Messages("pendingRepresentationRequests.table.dateRequested")</th>
                            <th scope="col">@Messages("pendingRepresentationRequests.table.5")</th>
                        </tr>
                        @model.propertyRepresentations.map { p =>
                            <tr>
                                <td><div class="multiple-choice">
                                    <input class="select-checkbox" type="checkbox" name="requestId" value="@p.submissionId"></div></td>
                                <td>@p.organisationName</td>

                                <td>@(Formatters.capitalizedAddress(PropertyAddress.fromString(p.address)))</td>

                                <td>
                                    <ul class="list">
                                        <li>Check: @Messages(p.checkPermission.msgKey)</li>
                                        <li>Challenge: @Messages(p.challengePermission.msgKey)</li>
                                    </ul>
                                    <br>
                                </td>

                                <td>@utils.Formatters.formatDate(p.createDatetime)</td>

                                <td>
                                    <ul class="list">
                                        <li>
                                            <a role="button" href="@controllers.agent.routes.RepresentationController.accept(p.submissionId, model.totalPendingRequests)">
                                            @Messages("agent.dashboard.manageProperties.accept")
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" href="@controllers.agent.routes.RepresentationController.reject(p.submissionId, model.totalPendingRequests)">
                                            @Messages("agent.dashboard.manageProperties.reject")
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="margin-top-20 hide-if-no-js">
                <a href="#" id="select-all-bottom">@Messages("pendingRepresentationRequests.select.deselect")</a>
            </div>

            <p class="pull-left">Showing @model.pagination.startPoint to @{model.pagination.totalResults.min(model.pagination.startPoint + model.pagination.pageSize - 1)} of @model.pagination.totalResults</p>

            <div role="navigation" aria-label="Pagination" class="pull-right">
                <ul class="pagination">
                    @if(model.pagination.pageNumber > 1) {
                        <li class="previous"><a href="@agent.routes.RepresentationController.pendingRepresentationRequest(model.pagination.pageNumber - 1, model.pagination.pageSize).url"><i class="previous-arrow"></i>Previous</a></li>
                    }else{
                        <li class="previous disabled"><i class="previous-arrow"></i>Previous</li>
                    }

                    <li class="active">@model.pagination.pageNumber</li>

                    @if(model.pagination.totalResults > model.pagination.startPoint + model.pagination.pageSize - 1) {
                        <li class="next"><a href="@agent.routes.RepresentationController.pendingRepresentationRequest(model.pagination.pageNumber + 1, model.pagination.pageSize).url">Next<i class="next-arrow"></i></a></li>
                    }else{
                        <li class="next disabled">Next<i class="next-arrow"></i></li>
                    }
                </ul>
            </div>


            <div class="form-group">
                <fieldset class="inline">
                    <legend>
                        <h1 class="heading-medium">
                        @Messages("pendingRepresentationRequests.accept.reject")
                        </h1>
                    </legend>
                    <div class="multiple-choice" style="float:left;clear:none;width:100px">
                        <input id="radio-action-accept" type="radio" name="action" value="accept">
                        <label for="radio-action-accept">@Messages("pendingRepresentationRequests.accept")</label>
                    </div>
                    <div class="multiple-choice" style="float:left;clear:none;">
                        <input id="radio-action-reject" type="radio" name="action" value="reject">
                        <label for="radio-action-reject">@Messages("pendingRepresentationRequests.reject")</label>
                    </div>
                </fieldset>
            </div>
            <div class="clearfix"></div>

            <div style="margin-bottom:20px;" >
                <button type="submit" id="submit-button" name="submit-button" class="button">@Messages("pendingRepresentationRequests.button.label")</button>
            </div>
        }
    }

}
