@import _root_.template.Display
@import config.ApplicationConfig
@import utils.Formatters
@import controllers.agent.RepresentationController.ManagePropertiesVM

@(model: ManagePropertiesVM)(implicit request: Request[_], messages: Messages)

@main_template(
    title = Messages("dashboard.home.title"),
    topBackLink = true,
    bottomBackLink = true
) {


        <h1 class="heading-xlarge">
            @Messages("dashboard.manageProperties.title")
        </h1>

        @if(model.propertyRepresentations.propertyRepresentations.isEmpty){
            @Messages("dashboard.manageProperties.noProperties")
        } else {
        <div class="table-wrapper">
            <table class="table-font-xsmall margin-bottom-20">
                <caption class="visuallyhidden">@Messages("manageProperties.table.caption")</caption>
                <tbody>
                    <tr>
                        <th scope="col">@Messages("pendingRepresentationRequests.table.1")</th>
                        <th scope="col">@Messages("pendingRepresentationRequests.table.2")</th>
                        <th scope="col">@Messages("pendingRepresentationRequests.table.3")</th>
                        <th scope="col">@Messages("pendingRepresentationRequests.table.4")</th>
                        <th scope="col">@Messages("pendingRepresentationRequests.table.5")</th>
                        <th scope="col" class="last">@Messages("pendingRepresentationRequests.table.6")</th>
                    </tr>
                    @model.propertyRepresentations.propertyRepresentations.map { p =>
                        <tr>
                            <td scope="row">
                                @(p.organisationName)
                            </td>
                            <td>
                                @(p.address)
                            </td>
                            <td>
                                @(p.checkPermission)
                            </td>
                            <td>
                                @(p.challengePermission)
                            </td>
                            <td>
                                @(p.createDatetime)
                            </td>
                            <td class="last">
                                <a role="button" href=@controllers.agent.routes.RepresentationController.accept(p.submissionId)>
                                @Messages("agent.dashboard.manageProperties.accept")
                                </a>
                                <br>
                                <a role="button" href=@controllers.agent.routes.RepresentationController.reject(p.submissionId)>
                                @Messages("agent.dashboard.manageProperties.reject")
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

}
