@import utils.Formatters

@(localAuthorityReference: String, address: String)(implicit messages: Messages)


<div id="assessment-heading">
    <ul id="assessment-heading" class="govuk-list">
        <li id="local-authority-reference">
            <span class="govuk-body-s govuk-!-font-weight-bold">@messages("assessments.localAuthorityRef")</span>
            <span class="govuk-body-s" id="local-authority-reference-code">@localAuthorityReference</span>
        </li>
        <li id="address">
            <span class="govuk-body-s govuk-!-font-weight-bold">@messages("assessments.property")</span>
            <span class="govuk-body-s" id="address-text">@Formatters.capitalisedAddress(address)</span>
        </li>
    </ul>
</div>