@import play.api.data._

@(form: Form[_], messagePrefix: Option[String] = None)(implicit requestHeader: RequestHeader, messages: Messages)

    @removeInvalid(error: FormError) = @{ error.key.replace("[", "").replace(".", "").replace("]", "").replace("__", "") }

    @showError(error: FormError) = {
        <li>
            <a href="#@removeInvalid(error)Group" data-focuses="@removeInvalid(error)Group">
                <span>
                @error.key match {
                    case s if s.contains("day") => { @Messages("error.label.day") }
                    case s if s.contains("month") => { @Messages("error.label.month") }
                    case s if s.contains("year") => { @Messages("error.label.year") }
                    case s if s.contains("address") => { @Messages(s"label.${error.key}") }
                    case _ => { @Messages("label." + messagePrefix.map(_ + ".").getOrElse("") + error.key.replace("[", "").replace("]", "")) }
                }
                </span> - @Messages(stripIndices(error.message), error.args: _*)
            </a>
        </li>
    }

    @stripIndices(field: String) = @{
        field.replaceAll("""\[[0-9]\]""", "")
    }


@if(form.hasErrors) {
    <div id="error-summary" class="error-summary" tabindex="-1" role="group" aria-labelledby="error-summary-heading" >
        <h2 id="error-summary-heading" class="heading-medium error-summary-heading">@Messages("label.checkTheForm")</h2>
        <p>@Messages("label.fixTheFollowing")</p>
        <ul class="error-summary-list">
            @for(error <- form.errors) {
                @showError(error)
            }
        </ul>
    </div>
}
