@()
<!-- Javascript -->
<script type="text/javascript">
    document.documentElement.className = document.documentElement.className.replace("no-js","js");
</script>

	<script src="@routes.Assets.at("javascripts/vendor/jquery-1.11.3.min.js")" type="text/javascript"></script>
	@if(config.Environment.isDev){<script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>}else{ <script src="@routes.Assets.at("javascripts/app.min.js")" type="text/javascript"></script>}
	<script src="@routes.Assets.at("javascripts/selection-buttons.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/vendor/typeahead.bundle.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/vendor/jsconf.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/polyfills/bind.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/polyfills/details.polyfill.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/polyfills/toISOString.polyfill.min.js")" type="text/javascript"></script>


<!--[if lt IE 10]>
	<script src="@routes.Assets.at("javascripts/vendor/jquery.placeholder.min.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(function() {
	 		$('input, textarea').placeholder();
		});
	</script>
<![endif]--> 