// GOV.UK front end toolkit
// Sass variables, mixins and functions
// https://github.com/alphagov/govuk_frontend_toolkit/tree/master/stylesheets

// Settings (variables)
@import "./node_modules/govuk_frontend_toolkit/stylesheets/colours";                                	// Colour variables
@import "./node_modules/govuk_frontend_toolkit/stylesheets/font_stack";                             	// Font family variables
@import "./node_modules/govuk_frontend_toolkit/stylesheets/measurements";                           	// Widths and gutter variables

// Mixins
@import "./node_modules/govuk_frontend_toolkit/stylesheets/conditionals";                           	// Media query mixin
@import "./node_modules/govuk_frontend_toolkit/stylesheets/device-pixels";                          	// Retina image mixin
@import "./node_modules/govuk_frontend_toolkit/stylesheets/grid_layout";                            	// Basic grid layout mixin
@import "./node_modules/govuk_frontend_toolkit/stylesheets/typography";                             	// Core bold and heading mixins, also external links
@import "./node_modules/govuk_frontend_toolkit/stylesheets/shims";                                  	// Inline block mixin, clearfix placeholder

// Mixins to generate components (chunks of UI)
@import "./node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta";
@import "./node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/buttons";
@import "./node_modules/govuk_frontend_toolkit/stylesheets/design-patterns/breadcrumbs";

// Functions
// @import "url-helpers";                         												 		// Function to output image-url, or prefixed path (Rails and Compass only)

// GOV.UK elements
@import "./node_modules/govuk-elements-sass/public/sass/elements/helpers";                       		// Helper functions and classes
@import "modules/helpers"; 																				// Overide asset path from govuk-elements-sass

// Generic (normalize/reset.css)
@import "./node_modules/govuk-elements-sass/public/sass/elements/reset";

// Base (unclassed HTML elements)
// These are predefined by govuk_template
// If you're not using govuk_template, uncomment the line below.
// @import "elements/base";                       												 		// HTML elements, set by the GOV.UK template

// Objects (unstyled design patterns)
@import "./node_modules/govuk-elements-sass/public/sass/elements/layout";                        		// Main content container. Grid layout - rows and column widths

// Components (chunks of UI)
@import "./node_modules/govuk-elements-sass/public/sass/elements/elements-typography";           		// Typography
@import "./node_modules/govuk-elements-sass/public/sass/elements/buttons";                       		// Buttons
@import "./node_modules/govuk-elements-sass/public/sass/elements/icons";                         		// Icons - numbered steps, calendar, search
@import "./node_modules/govuk-elements-sass/public/sass/elements/lists";                         		// Lists - numbered, bulleted
@import "./node_modules/govuk-elements-sass/public/sass/elements/tables";                        		// Tables - regular, numeric
@import "./node_modules/govuk-elements-sass/public/sass/elements/details";                       		// Details summary
@import "./node_modules/govuk-elements-sass/public/sass/elements/panels";                        		// Panels with a left grey border
@import "./node_modules/govuk-elements-sass/public/sass/elements/forms";                         		// Form - wrappers, inputs, labels
@import "./node_modules/govuk-elements-sass/public/sass/elements/forms/form-block-labels";       		// Chunky labels for radios and checkboxes
@import "./node_modules/govuk-elements-sass/public/sass/elements/forms/form-date";               		// Date of birth pattern
@import "./node_modules/govuk-elements-sass/public/sass/elements/forms/form-validation";         		// Errors and validation
@import "./node_modules/govuk-elements-sass/public/sass/elements/breadcrumbs";                   		// Breadcrumbs
@import "./node_modules/govuk-elements-sass/public/sass/elements/phase-banner";                  		// Alpha and beta banners and tags
@import "./node_modules/govuk-elements-sass/public/sass/elements/components";                    		// GOV.UK prefixed styles - blue highlighted box

// Custom
@import "modules/tabs";
@import "modules/lists";
@import "modules/form";
@import "modules/buttons";
@import "modules/content";
@import "modules/table";
@import "modules/summary";
@import "modules/filterTabs";
@import "modules/search";
@import "modules/pager";
@import "modules/grid_ie8";
@import "modules/help";
@import "modules/hero";
@import "modules/icons";
@import "modules/jquery.filer";
@import "modules/radio";
@import "modules/dashboard";
@import "modules/navigation";
@import "modules/inPageFeedback";
@import "modules/getHelp";
@import "modules/dataTables";
@import "modules/banner";
@import "modules/dialog";
@import "modules/userStatus";
@import "modules/messages";
@import "modules/agentPendingRequests";
@import "modules/tableWithRadioButtons";
@import "modules/headingLinks";
