
sudo: true
language: scala
scala:
- 2.11.6
jdk:
- oraclejdk8
cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt
before_install:
 - chmod +x /usr/local/bin/sbt
before_cache:
  # Cleanup the cached directories to avoid unnecessary cache updates
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete
branches:
  except:
    - master
    
