@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@()(implicit request: Request[_], messages: Messages)


@main_template(title = Messages("failedIdentityVerification.title"), topNavigation = false) {

            <div class="grid-row">
                <div class="column-two-thirds">

                    <h1 class="heading-xlarge">@Messages("failedIdentityVerification.title")</h1>

                    <p>@Messages("failedIdentityVerification.p.1")</p>
                    <p>@Messages("failedIdentityVerification.p.2")</p>

                    <p>@Messages("failedIv.email")</p>
                    <strong>@Html(Messages("failedIv.emailaddress", "ccaservice@voa.gsi.gov.uk"))</strong>

                    <p>@Messages("failedIv.telephone.england")</p>
                    <strong>@Messages("failedIv.telephone.england.number")</strong>

                    <p>@Messages("failedIv.telephone.openingHours")</p>

                </div>
            </div>

    }
