@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@()(implicit request: Request[_], messages: Messages)

    @main_template(title = Messages("identityVerification.title")) {

        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="heading-xlarge">@Messages("identityVerification.title")</h1>

                <p>
                    <a href="@routes.IdentityVerification.succeed.url" class="button">Successful IV</a>
                    <a href="@routes.IdentityVerification.fail.url" class="button">Failed IV</a>
                </p>

            </div>
        </div>
    
    }
