@import controllers.StartIVVM
@import uk.gov.hmrc.play.views.html.helpers.form

@(model: StartIVVM)(implicit request: Request[_], messages: Messages)
    
    @main_template(Messages("startIv.title")) {
            <div class="grid-row">
                <div class="column-two-thirds">
                
                    <h1 class="heading-xlarge">@Messages("startIv.title")</h1>

                    @form(Call("POST", model.url)) {

                        <input type="hidden" name="fname" value="@model.data.firstName"/>
                        <input type="hidden" name="lname" value="@model.data.lastName"/>
                        <input type="hidden" name="dob.day" value="@model.data.dateOfBirth.getDayOfMonth"/>
                        <input type="hidden" name="dob.month" value="@model.data.dateOfBirth.getMonthOfYear"/>
                        <input type="hidden" name="dob.year" value="@model.data.dateOfBirth.getYear"/>
                        <input type="hidden" name="nino.nino" value="@model.data.nino"/>

                        <p>
                            <button type="submit" id="continue" class="button">@Messages("label.continue")</button>
                        </p>
                    }

                </div>
            </div>
    }