@()(implicit request: Request[_], messages: Messages)

    @main_template(Messages("iv.success.title"), topNavigation = false) {
        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="form-title heading-large heading-confirmation">
                    <span class="tick">&#10004;</span> @Messages("iv.success.heading")
                    <span class="reference-text">@Messages("iv.success.confirmation")</span>
                </h1>

                <h2 class="heading-medium">@Messages("heading.whatNext")</h2>
                <p>@Messages("iv.success.p.1")</p>

                <a href="@routes.CreateGroupAccount.show" class="button">@Messages("link.createGroupAccount")</a>

            </div>
        </div>
    }
