@()(implicit request: Request[_], messages: Messages)


@main_template(
    title = Messages("heading.authenticationWizard.beforeYouRegister"),
    topNavigation = false
) {

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                @Messages("heading.authenticationWizard.beforeYouRegister")
            </h1>


            <p>@Messages("authenticationWizard.p1.beforeYouRegisterD")</p>


            <ul class="list list-number">
                <li>@Messages("authenticationWizard.beforeYouRegisterD.l1")</li>
                <li>@Messages("authenticationWizard.beforeYouRegisterD.l2")</li>
                <li>@Messages("authenticationWizard.beforeYouRegisterD.l3")</li>
            </ul>

            <p>@Messages("authenticationWizard.p2.beforeYouRegisterD")</p>


            <ul class="bullets">
                <li>@Messages("authenticationWizard.beforeYouRegister.li1")</li>
                <li>@Messages("authenticationWizard.beforeYouRegister.li2")</li>
                <li>@Messages("authenticationWizard.beforeYouRegister.li3")</li>
            </ul>

            <p class="panel panel-border-narrow">@Messages("authenticationWizard.beforeYouRegister.important")</p>

            <details>
                <summary><span class="summary">@Messages("beforeYouRegister.summary.question")</span></summary>
                <div class="panel-indent">
                  @Html(Messages("beforeYouRegister.summary.answer"))
                </div>
            </details>

            <details>
                <summary><span class="summary">@Messages("beforeYouRegister.summary.question2")</span></summary>
                <div class="panel-indent">
                  @Html(Messages("beforeYouRegister.summary.answer2"))
                </div>
            </details>

            <p><a href="@routes.Register.show" class="button" role="button">@Messages("label.continue")</a></p>


    </div>
</div>

}
