@()(implicit request: Request[_], messages: Messages)


@main_template(
    title = Messages("heading.authenticationWizard.beforeYouRegister"),
    topNavigation = false
) {

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                @Messages("heading.authenticationWizard.beforeYouRegister")
            </h1>

            <p>@Messages("authenticationWizard.p1.beforeYouRegisterC")</p>

            <ul class="list list-number">
                <li>@Messages("authenticationWizard.beforeYouRegisterC.l1")</li>
                <li>@Messages("authenticationWizard.beforeYouRegisterC.l2")</li>
                <li>@Messages("authenticationWizard.beforeYouRegisterC.l3")</li>
            </ul>

            <p>@Messages("authenticationWizard.p2.beforeYouRegisterC")</p>


            <ul class="bullets">
                <li>@Messages("authenticationWizard.beforeYouRegister.li1")</li>
                <li>@Messages("authenticationWizard.beforeYouRegister.li2")</li>
                <li>@Messages("authenticationWizard.beforeYouRegister.li3")</li>
            </ul>

            <p class="panel panel-border-narrow">@Messages("authenticationWizard.beforeYouRegister.important")</p>


            <p><a href="@routes.Register.show" class="button" >@Messages("label.continue")</a></p>


    </div>
</div>

}
