@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import _root_.template.Display

@import controllers.AppointAgentController.AppointAgentVM
@(uarn: String)(implicit request: Request[_])

@main(Messages("agent.alreadyAppointedAgent.title")) {

    <main id="content">
        <div class="grid-row">
            <div class="column-full">
                <h1 class="form-title heading-xlarge">
                    <span class="section-title">@Messages("agent.alreadyAppointedAgent.title")</span>
                </h1>
            </div>
        </div>
        <p>@Messages("agent.alreadyAppointedAgent.message.1")</p>
        <p>@Messages("agent.alreadyAppointedAgent.message.2")</p>
        <a href=@routes.AppointAgentController.select(uarn)>@Messages("agent.alreadyAppointedAgent.edit")</a>
        <a href=@routes.AppointAgentController.appoint(uarn)>@Messages("agent.alreadyAppointedAgent.continue")</a>
    </main>

}
