@import config.ApplicationConfig
@import views.html.mainLayout
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import models.registration.OrganisationDateOfBirth


@this(mainLayout: mainLayout, govukButton: GovukButton, govukDateInput: GovukDateInput, formWithCSRF: FormWithCSRF, govukErrorSummary: GovukErrorSummary)

@(form: Form[OrganisationDateOfBirth])(implicit request: Request[_], messages: Messages, config: ApplicationConfig)

@getFromDateFiledErrorMessage = @{
    (form.error("dob.day"), form.error("dob.month"), form.error("dob.year")) match
    {
        case (None, None, None ) => None
        case _                   => Some(ErrorMessage(content = Text(messages("error.common.invalid.date"))))
    }
}

@mainLayout(
    pageTitle = messages("enrolment.dob.title"),
    mainClass = Some("govuk-grid-column-two-thirds"),
    hasErrors = form.hasErrors
){


    @formWithCSRF(action = controllers.registration.routes.RegistrationController.submitOrganisationDOB()){

        @govukDateInput(DateInput(
            fieldset = Some(Fieldset(
                legend = Some(Legend(
                    content = Text(messages("enrolment.dob.title")),
                    classes = "govuk-fieldset__legend--l"
                ))
            )),
            id = "dob",
            hint = Some(Hint(
                content = Text(messages("enrolment.dob.hint"))
            )),
            items = Seq("day", "month", "year").map {
                item =>
                    InputItem(
                        id = s"dob.$item",
                        classes = s"govuk-input--width-${if(item == "year") "4" else "2"}${if(form(s"dob.$item").hasErrors || form.errors.exists(_.key.isEmpty)) " govuk-input--error" else ""}",
                        name =  s"dob.$item",
                        label = Some(messages(s"dob.$item.label")),
                        value = form(s"dob.$item").value
                    )
            },
            errorMessage = getFromDateFiledErrorMessage,
        ))

        @govukButton(Button(
            content = Text(messages("enrolment.continue")),
            attributes = Map("id" -> "continue")
        ))
    }
}
