@import actions.AuthenticatedRequest
@import config.ApplicationConfig.config._

@()(implicit request: AuthenticatedRequest[_], messages: Messages)

<div class="section-tabs">
    <ul role="tablist">
        @if(isAgent) {
            @if(searchSortEnabled && request.path != controllers.agent.routes.RepresentationController.viewClientProperties().url) {
                @tab("clientProperties", controllers.agent.routes.RepresentationController.viewClientPropertiesSearchSort().url)
            }else{
                @tab("clientProperties", controllers.agent.routes.RepresentationController.viewClientProperties().url)
            }
        }
        @if(searchSortEnabled && request.path != routes.Dashboard.manageProperties().url) {
            @tab("myProperties", routes.Dashboard.managePropertiesSearchSort().url)
        }else{
            @tab("myProperties", routes.Dashboard.manageProperties().url)
        }

        @tab("manageAgents", routes.Dashboard.manageAgents().url)
        @if(casesEnabled) {
            @tab("drafts", routes.Dashboard.viewDraftCases().url)
        }
        @if(editDetailsEnabled) {
            @tab("editDetails", controllers.manageDetails.routes.ViewDetails.show().url)
        }
        <li class="tab-right">
            <span>Welcome, @if(editDetailsEnabled) {<a href="@controllers.manageDetails.routes.ViewDetails.show().url">} @name @if(editDetailsEnabled) {</a>}. <a href="@routes.Application.logOut().url">Not you?</a></span>
        </li>
    </ul>
</div>

@isAgent = @{ request.organisationAccount.isAgent }

@tab(name: String, url: String) = {
    <li @if(url == request.path) {class="active"}>
        <a href="@url">@Messages(s"dashboard.tab.$name")</a>
    </li>
}

@name = @{
    s"${request.individualAccount.details.firstName} ${request.individualAccount.details.lastName} - ${request.organisationAccount.companyName}"
}