@import actions.AuthenticatedRequest
@import config.ApplicationConfig.config._

@()(implicit request: AuthenticatedRequest[_], messages: Messages)

<div class="userStatus">
    <span class="userStatus--name">Welcome,
        <a href="@controllers.manageDetails.routes.ViewDetails.show().url">
            @name
        </a>
    </span> -
    <span class="userStatus--business">
        <a href="@controllers.manageDetails.routes.ViewDetails.show().url">
            @company
        </a>
    </span>

    @if(isAgent){ &nbsp;<span class="userStatus--agentCode">Agent code: @agentCode</span> }

    <span class="userStatus--signOut">
        <a href="@routes.Application.logOut().url">Not you?</a> | <a href="@routes.Application.logOut().url">Sign Out</a>
    </span>

</div>


<div class="clearfix section-tabs">
    <ul role="tablist">
        @if(isAgent) {
            @if(searchSortEnabled && request.path != controllers.agent.routes.RepresentationController.viewClientProperties().url) {
                @tab("clientProperties", controllers.agent.routes.RepresentationController.viewClientPropertiesSearchSort().url)
            }else{
                @tab("clientProperties", controllers.agent.routes.RepresentationController.viewClientProperties().url)
            }
        }
        @if(searchSortEnabled && request.path != routes.Dashboard.manageProperties().url) {
            @tab("myProperties", routes.Dashboard.managePropertiesSearchSort().url)
        }else{
            @tab("myProperties", routes.Dashboard.manageProperties().url)
        }

        @tab("manageAgents", routes.Dashboard.manageAgents().url)
        @tab("drafts", routes.Dashboard.viewDraftCases().url)
        @tab("editDetails", controllers.manageDetails.routes.ViewDetails.show().url)
    </ul>
</div>

@isAgent = @{ request.organisationAccount.isAgent }

@tab(name: String, url: String) = {
    <li @if(url == request.path) {class="active"}>
        <a href="@url">@Messages(s"dashboard.tab.$name")</a>
    </li>
}

@name = @{
    s"${request.individualAccount.details.firstName} ${request.individualAccount.details.lastName}"
}
@company = @{
    s"${request.organisationAccount.companyName}"
}
@agentCode = @{
    s"${request.organisationAccount.agentCode}"
}