@import config.ApplicationConfig
@()(implicit messages: Messages)
<ul class="platform-help-links" style="display:block">
    <li><a href="@ApplicationConfig.businessRatesValuationUrl("send-beta-feedback")" data-sso="false" data-journey-click="footer:Click:Feedback">@Messages("footer.link.feedback")</a></li>
    <li><a href="@ApplicationConfig.businessRatesValuationUrl("cookies")" data-sso="false" data-journey-click="footer:Click:Cookies">@Messages("footer.link.cookies")</a></li>
    <li><a href="@ApplicationConfig.businessRatesValuationUrl("terms-and-conditions")" data-sso="false" data-journey-click="footer:Click:Terms and conditions">@Messages("footer.link.termsAndConditions")</a></li>
    <li><a href="https://www.gov.uk/government/organisations/valuation-office-agency/about/personal-information-charter" target="_blank" data-sso="false" data-journey-click="footer:Click:Privacy policy">@Messages("footer.link.privacy")</a></li>
</ul>
<ul class="platform-help-links">
    <li>Built by the <a href="https://www.gov.uk/government/organisations/valuation-office-agency" data-sso="false" data-journey-click="footer:Click:Feedback">@Messages("footer.link.voa")</a></li>
</ul>
