@()(implicit request: Request[_], messages: Messages)

@formUrl = @{ "/business-rates-valuation/assets/downloads/Challenge your valuation.pdf" }
@guidanceUrl = @{ "/business-rates-valuation/assets/downloads/Challenge your valuation guidance.pdf" }

@main_template(
    Messages("startChallenge.title"),
    topBackLink = true,
    bottomBackLink = true
) {

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">@Messages("startChallenge.title")</h1>

            <p>@Messages("startChallenge.p.1")</p>
            <p>@Html(Messages("startChallenge.p.2", formUrl, guidanceUrl))</p>
            <p>@Html(Messages("startChallenge.p.3"))</p>
            <p>@Messages("startChallenge.p.4")</p>
        </div>
    </div>
}