@()(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("linkError.conflict.title")) {

          <div class="grid-row">
              <div class="column-two-thirds">
                  <h1 class="form-title heading-xlarge">
                      <span class="section-title">@Messages("linkError.conflict.title")</span>
                  </h1>

          <p>@Messages("linkError.conflict.message")</p>
          <a href="@routes.Dashboard.home" class="button" role="button">@Messages("linkError.conflict.home.link")</a>
      </div>
  </div>
}
