@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import config.ApplicationConfig.config._
@import controllers.propertyLinking.DeclareCapacityVM

@(model: DeclareCapacityVM)(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("declareCapacity.title"), topBackLink = true, bottomBackLink = true, backLinkUrl = Some(vmvUrl + "/back-to-list-valuations")) {


    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">@Messages("declareCapacity.title")</h1>

            @includes.errorSummary(model.form)


            <p class="heading-medium">@Messages("declareCapacity.message")</p>


            <header class="hero">
                <section class="hero__content">
                    <span class="hero__heading-medium">@model.address.toString</span>
                </section>
            </header>


            <p class="panel panel-border-wide">
                @Messages("declareCapacity.incorrectProperty.prefix")
                <a href="@controllers.propertyLinking.routes.ClaimProperty.show">@Messages("declareCapacity.incorrectProperty.link")</a>
            </p>


            @form(controllers.propertyLinking.routes.ClaimProperty.attemptLink(model.uarn, model.address)) {

                <details>
                    <summary><span>@Messages("declareCapacity.details.ownerOrOccupier")</span></summary>
                    <div class="panel-indent">
                        @Html(Messages("declareCapacity.details.ownerOrOccupier.text", routes.Application.contactUs()))
                    </div>
                </details>

                <details>
                    <summary><span>@Messages("declareCapacity.details.notOwner")</span></summary>
                    <div class="panel-indent">
                        @Html(Messages("declareCapacity.details.notOwner.text", routes.Application.contactUs()))
                    </div>
                </details>

                <details>
                    <summary><span>@Messages("declareCapacity.details.agent")</span></summary>
                    <div class="panel-indent">
                        @Messages("declareCapacity.details.agent.text")
                    </div>
                </details>

                <br />

                @inputRadioGroup(
                        field = model.form("capacity"),
                        options = CapacityType.options,
                        args = Seq(
                            '_label -> Messages("label.capacity"),
                            '_labelClass -> "form-label-bold",
                            '_legend -> true)
                    )

                @inputRadioGroup(
                    field = model.form("interestedBefore2017"),
                    options = Seq("true", "false"),
                    dataAttributes = Seq(
                        ("false", "data-toggle-id", "interestedAfter2017")
                    ),
                    args = Seq(
                        '_label -> Messages("label.interestedBefore2017"),
                        '_labelClass -> "form-label-bold",
                        '_legend -> true
                    )
                )

                <div id="interestedAfter2017" data-toggle-hidden>
                    @dateFields(model.form, "fromDate")

                    <details>
                        <summary><span>@Messages("declareCapacity.details.haveOwned")</span></summary>
                        <div class="panel-indent">
                            @Messages("declareCapacity.details.haveOwned.text")
                        </div>
                    </details>
                    <br />
                </div>

                @inputRadioGroup(
                    field = model.form("stillInterested"),
                    options = Seq("true", "false"),
                    dataAttributes = Seq(
                        ("false", "data-toggle-id", "endDate")
                    ),
                    args = Seq(
                        '_label -> Messages("label.stillInterested"),
                        '_labelClass -> "form-label-bold",
                        '_legend -> true,
                        '_fieldsetClass -> "inline"
                    )
                )

                <div id="endDate" data-toggle-hidden>
                    @dateFields(model.form, "toDate")
                </div>

                <p>
                    <button type="submit" id="continue" name="continue_button" class="button">@Messages("declareCapacity.submit.button")</button>
                </p>
}
            </div>
    </div>

}
