@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import controllers.SelectAgentVM

@(model: SelectAgentVM)(implicit request: Request[_], messages: Messages)

@main_template(
    title = Messages("propertyRepresentation.alreadyAppointedAgent.title"),
    topNavigation = true,
    topBackLink = true,
    bottomBackLink = true
) {


    <div class="grid-row">
        <div class="column-full">

            <h1 class="heading-large">
                @Messages("propertyRepresentation.alreadyAppointedAgent.title")
            </h1>

            @selectAgentTable(model.reps)

            <p>
                <a href="@routes.AppointAgentController.appoint(model.linkId)" class="button">@Messages("propertyRepresentation.alreadyAppointedAgent.add")</a>
            </p>

        </div>
    </div>
}
