@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import _root_.template.Display

@import controllers.AppointAgentController.AppointAgentVM
@(uarn: String)(implicit request: Request[_], messages: Messages)



    @main_template(title = Messages("propertyRepresentation.alreadyAppointedAgent.title")) {


        <div class="grid-row">
            <div class="column-full">

                <h1 class="heading-xlarge">
                    <span class="section-title">@Messages("propertyRepresentation.alreadyAppointedAgent.title")</span>
                </h1>

        <p>@Messages("propertyRepresentation.alreadyAppointedAgent.message.1")</p>
        <p>@Messages("propertyRepresentation.alreadyAppointedAgent.message.2")</p>
        <a href=@routes.AppointAgentController.select(uarn)>@Messages("propertyRepresentation.alreadyAppointedAgent.edit")</a>
        <a href=@routes.AppointAgentController.appoint(uarn)>@Messages("propertyRepresentation.alreadyAppointedAgent.continue")</a>

        </div>
    </div>
}
