@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import controllers.AppointAgentController.SelectAgentVM

@(model: SelectAgentVM)(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("propertyRepresentation.alreadyAppointedAgent.title")) {


    <div class="grid-row">
        <div class="column-full">

            <h1 class="heading-xlarge">
                <span class="section-title">@Messages("propertyRepresentation.alreadyAppointedAgent.title")</span>
            </h1>

            @selectAgentTable(model.reps)

            <p>
                <a href="@routes.AppointAgentController.appoint(model.uarn)" class="button">@Messages("propertyRepresentation.alreadyAppointedAgent.add")</a>
            </p>

            <p>
                <a href="@routes.Dashboard.manageProperties" class="link-back">@Messages("link.back")</a>
            </p>
        </div>
    </div>
}
