@import utils.Formatters
@(address: String)(implicit request: Request[_], messages: Messages)

@main_template(
    title = Messages("propertyRepresentation.appointedAgent.title"),
    topNavigation = true,
    topBackLink = false,
    bottomBackLink = false
) {
    <div class="grid-row">
        <div class="column-two-thirds">
                
            <div class="transaction-banner--complete">
                <h1 class="transaction-banner__heading">@Messages("agentAppointed.heading")</h1>
            </div>

            <h2 class="heading-medium">@Messages("appointedAgent.whatNext")</h2>
            <p>@Messages("appointedAgent.whatNext.p.1", Formatters.capitalizedAddress(address))</p>

            <p>
                <a href="@routes.Dashboard.home()" class="button">
                    @Messages("appointedAgent.button")
                </a>
            </p>

        </div>
    </div>
}
