@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import models.AgentPermission
@import controllers.AppointAgentVM

@(model: AppointAgentVM)(implicit request: Request[_], messages: Messages)


@main_template(
    title = Messages("propertyRepresentation.appointAgent.title"),
    topNavigation = true,
    topBackLink = true,
    bottomBackLink = true
) {


    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                @Messages("propertyRepresentation.appointAgent.title")
            </h1>

            <p>@Messages("propertyRepresentation.appointAgent.message.1")</p>

            @form(routes.AppointAgentController.appointSubmit(model.linkId)) {


                @includes.errorSummary(model.form)


                @inputText(
                    field = model.form("agentCode"),
                    '_label -> Messages("label.agentCode"),
                    '_labelClass -> "form-label-bold",
                    '_showConstraints -> false,
                    'class -> "form-control"
                )
                <h2>@Messages("propertyRepresentation.appointAgent.message.2")</h2>
                @inputRadioGroup(
                    field = model.form("canCheck"),
                    options = AgentPermission.options,
                    args = Seq(
                        '_label -> Messages("label.canCheck"),
                        '_labelClass -> "form-label-bold",
                        '_legend -> true
                    )
                )
                @inputRadioGroup(
                    field = model.form("canChallenge"),
                    options = AgentPermission.options,
                    args = Seq(
                        '_label -> Messages("label.canChallenge"),
                        '_labelClass -> "form-label-bold",
                        '_legend -> true
                    )
                )
                <p><button type="submit" class="button">@Messages("propertyRepresentation.appointAgent.button")</button></p>

            }

        </div>
    </div>


}
