@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import models.AgentPermissions
@import controllers.AppointAgentVM

@(model: AppointAgentVM)(implicit request: Request[_], messages: Messages)


@main_template(title = Messages("propertyRepresentation.appointAgent.title")) {


        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="heading-large">
                    @Messages("propertyRepresentation.appointAgent.title")
                </h1>

        <p>@Messages("propertyRepresentation.appointAgent.message.1")</p>
        <p>@Messages("propertyRepresentation.appointAgent.message.2")</p>

        @form(routes.AppointAgentController.appointSubmit(model.linkId)) {
            @inputText(
                field = model.form("agentCode"),
                '_label -> Messages("propertyRepresentation.appointAgent.agentCode"),
                '_error -> model.form("agentCode").error,
                '_labelClass -> "form-label-bold",
                '_showConstraints -> false,
                'class -> "form-control"
            )
            @inputRadioGroup(
                field = model.form("canCheck"),
                options = AgentPermissions.options,
                args = Seq(
                    '_label -> Messages("canCheck.label"),
                    '_labelClass -> "form-label-bold",
                    '_legend -> true
                )
            )
            @inputRadioGroup(
                field = model.form("canChallenge"),
                options = AgentPermissions.options,
                args = Seq(
                    '_label -> Messages("canChallenge.label"),
                    '_labelClass -> "form-label-bold",
                    '_legend -> true
                )
            )
            <button type="submit" class="button">@Messages("propertyRepresentation.appointAgent.button")</button>
            <p>
            <a href="@routes.Dashboard.manageProperties" class="link-back">@Messages("link.back")</a>
            </p>
        }

        </div>
    </div>


}
