@(address: PropertyAddress, agentName: String)(implicit request: Request[_], messages: Messages)

@main_template(
    title = Messages("propertyRepresentation.appointedAgent.title"),
    topNavigation = true,
    topBackLink = true,
    bottomBackLink = true
) {


    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-large heading-confirmation">
                <span class="tick">&#10004;</span>@Messages("agentAppointed.heading", agentName, address.toString)
            </h1>

            <h2 class="heading-medium">@Messages("heading.whatNext")</h2>
            <p>@Messages("appointedAgent.whatNext.p.1")</p>

        </div>
    </div>
}
