@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import models.AgentPermission
@import controllers.agentAppointment.ModifyAgentVM

@(model: ModifyAgentVM)(implicit request: Request[_], messages: Messages)

    @main_template(
        title = Messages("propertyRepresentation.modifyAgent.title"),
        topNavigation = true,
        topBackLink = true,
        bottomBackLink = true
    ) {


        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    @Messages("propertyRepresentation.modifyAgent.title")
                </h1>

        @form(agentAppointment.routes.AppointAgentController.modifySubmit(model.representationId)) {
            <input type="hidden" name="agentCode" value="@model.form("agentCode").value.getOrElse("")"/>

            @inputRadioGroup(
                field = model.form("canCheck"),
                options = AgentPermission.options,
                args = Seq(
                    '_label -> Messages("canCheck.label"),
                    '_labelClass -> "form-label-bold",
                    '_legend -> true
                )
            )
            @inputRadioGroup(
                field = model.form("canChallenge"),
                options = AgentPermission.options,
                args = Seq(
                    '_label -> Messages("canChallenge.label"),
                    '_labelClass -> "form-label-bold",
                    '_legend -> true
                )
            )

            <p><button type="submit" class="button">@Messages("propertyRepresentation.modifyAgent.button")</button></p>
        }
    </div>
</div>

}
