@()(implicit request: Request[_], messages: Messages)



@main_template(
    title = Messages("propertyRepresentation.modifiedAgent.title"),
    topNavigation = true,
    topBackLink = true,
    bottomBackLink = true
) {

    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-large">
                @Messages("propertyRepresentation.modifiedAgent.title")
            </h1>

    <p>@Messages("propertyRepresentation.modifiedAgent.message.1")</p>
    <p>@Messages("propertyRepresentation.modifiedAgent.message.2")</p>
        <a href="@controllers.routes.Dashboard.home()">Home</a>


    </div>
</div>

}
