@(agentCode: Long, authorisationId: Long, authorisedPartyId: Long, agentName: String, propertyAddress: String)(implicit request: Request[_], messages: Messages)

@main_template(
    title = Messages("propertyRepresentation.revokeAgent.title"),
    topBackLink = true,
    bottomBackLink = true,
    backLinkUrl = Some(routes.Dashboard.viewManagedProperties(agentCode).url)
) {
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
            @Messages("propertyRepresentation.revokeAgent.title")
            </h1>

            <p>@Messages("propertyRepresentation.revokeAgent.message", agentName, propertyAddress)
            <p>
                <a href="@agentAppointment.routes.RevokeAgentController.revokeAgentConfirmed(authorisationId, authorisedPartyId, agentCode)" class="button">
                    @Messages("propertyRepresentation.revokeAgent.button")
                </a>
            </p>

        </div>
    </div>
}
