@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(propertyRepresentations: Seq[PropertyRepresentation])(implicit request: Request[_], messages: Messages)

<table class="table">
    <tbody>
        <tr>
            <th>@Messages("propertyRepresentation.selectAgent.table.1")</th>
            <th>@Messages("propertyRepresentation.selectAgent.table.2")</th>
            <th></th>
        </tr>
        @propertyRepresentations.map { propRep =>
            <tr>
                <td>FIXME: AgentName</td>
                <td>FIXME: Agent Id</td>
                <td>
                    <a href="@agentAppointment.routes.AppointAgentController.modify(propRep.representationId)">@Messages("link.editPermissions")</a>
                </td>
            </tr>
        }
    </tbody>
</table>