@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(propertyRepresentations: Seq[PropertyRepresentation])(implicit request: Request[_], messages: Messages)

    @main_template(
        title = Messages("propertyRepresentation.selectAgent.title"),
        topNavigation = true,
        topBackLink = true,
        bottomBackLink = true
    ) {

        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-large">
                    @Messages("propertyRepresentation.selectAgent.title")
                </h1>

        <p>@Messages("propertyRepresentation.selectAgent.message")</p>
        <table class="table">
            <tbody>
                <tr>
                    <th>@Messages("propertyRepresentation.selectAgent.table.1")</th>
                    <th>@Messages("propertyRepresentation.selectAgent.table.2")</th>
                    <th>@Messages("propertyRepresentation.selectAgent.table.3")</th>
                    <th>@Messages("propertyRepresentation.selectAgent.table.4")</th>
                </tr>
                @propertyRepresentations.map{propRep =>
                    <tr>
                        <td>
                            <a href=@agentAppointment.routes.AppointAgentController.modify(propRep.representationId)>FIXME-AgentName</a>
                        </td>
                        <td>@propRep.checkPermission</td>
                        <td>@propRep.challengePermission</td>
                        <td>propRep.status
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
}
