@import helpers._

@(form: Form[_], fieldName: String, helpText: String = "addressLookup.lookup.example")(implicit request: Request[_], messages: Messages)

@addressForm = {
    <div class="address--fields" style="display: none">
        <input type="hidden" id="@{fieldName}_addressId_text" name="@{fieldName}.addressId"/>

        @inputText(
            field = form(s"$fieldName.line1"),
            '_label -> Messages(s"label.$fieldName"),
            '_labelClass -> "form-label-bold",
            'class -> "form-control",
            'placeholder -> Messages("placeholder.address.line1"),
            '_fieldsetClass -> "margin-bottom-0"
        )

        @inputText(
            field = form(s"$fieldName.line2"),
            '_label -> Messages(s"label.$fieldName.line2"),
            '_labelClass -> "visuallyhidden",
            'class -> "form-control",
            'placeholder -> Messages("placeholder.address.line2"),
            '_fieldsetClass -> "margin-bottom-0"
        )

        @inputText(
            field = form(s"$fieldName.line3"),
            '_label -> Messages(s"label.$fieldName.line3"),
            '_labelClass -> "visuallyhidden",
            'class -> "form-control",
            'placeholder -> Messages("placeholder.address.line3"),
            '_fieldsetClass -> "margin-bottom-0"
        )

        @inputText(
            field = form(s"$fieldName.line4"),
            '_label -> Messages(s"label.$fieldName.line4"),
            '_labelClass -> "visuallyhidden",
            'class -> "form-control",
            'placeholder -> Messages("placeholder.address.line4"),
            '_fieldsetClass -> "margin-bottom-20"
        )

        @inputText(
            field = form(s"$fieldName.postcode"),
            '_label -> Messages("label.address.postcode"),
            '_labelClass -> "form-label-bold",
            'class -> "form-control form-control-1-4"
        )

        <a href="#" class="lookupAddress">@Messages("addressLookup.lookup")</a>
    </div>
}

<div class="form-group postcode-lookup-group">

    <div class="postcode-lookup-fields">
    @inputText(
        field = form("postcodeSearch"),
        '_label -> Messages("label.address.postcode"),
        '_labelClass -> "form-label-bold",
        'class -> "form-control form-control-1-4",
        '_help -> Messages(helpText)

    )

    <div class="form-group">
        <a href="#" id="postcodeLookupButton" class="button button-secondary" role="button">@Messages("label.findAddress")</a>
    </div>

    </div>

<!-- Temp
    <p>
        <a href="#" class="manualAddress">@Messages("addressLookup.manual")</a>
    </p>
-->

    <a href="#" class="lookupAddressCancel" style="display: none">@Messages("label.findAddress.tryAgain")</a>

    @addressForm

</div>
