
@**
* Generate an HTML input checkbox.
*
* Example:
* {{{
* @checkbox(field = myForm("done"))
* }}}
*
* @param field The form field.
* @param args Set of extra HTML attributes ('''id''' and '''label''' are 2 special arguments).
* @param handler The field constructor.
*@
@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit requestHeader: RequestHeader, messages: Messages)

@boxValue = @{args.toMap.getOrElse('value, "true")}

@input(field, args:_*) { (id, name, value, htmlArgs) =>
    <label class="block-label" for="@id">
        <input type="checkbox" id="@id" name="@name" value="@boxValue" @(if(value.contains(boxValue)) "checked" else "") @toHtmlArgs(htmlArgs.filterKeys(_ == 'value))>
        @args.toMap.get('_text)
    </label>
}(requestHeader, messages)
