@***********************************

Example usage:

'_help -> "Custom help",                        (shows help text)
'_labelClass -> "form-label-bold",              (extra class for labels)
'_legend -> true,                               (shows legend/label)
'_optional -> true,                             (shows optional/required for screen readers)
'_helpIndent -> "help text",                    (shows helptext with indent class)
'_pound -> true,                                (shows pound sign on inputs)
'_add' -> true,                                 (shows add/remove links)
'_details -> true,                              (shows details element)
'_detailsQuestion -> "The question",            (details element question text)
'_detailsAnswer -> "The answer"                 (details element answer text)
'_characterCount -> "250"                       (character limit)
'_nojsText -> "no js text"                      (shows no js text)

***********************************@



@(elements: helper.FieldElements)(implicit messages: Messages)

    @elements.args.get('_legend) match {
     	case Some(true) => {
     		<fieldset id="@elements.id" class="@elements.args.get('_fieldsetClass) form-group @if(elements.hasErrors) {error}">
   				<legend class="@elements.args.get('_labelClass)"><span class="label-span">@elements.label</span>

                    @elements.args.get('_optional) match {
                        case Some(true) => { <span class="visuallyhidden">(@Messages("label.optional")(elements.messages))</span> }
                        case _ => { <span class="visuallyhidden">(@Messages("label.required")(elements.messages))</span>}
                    }

                </legend>
   		}
		case _ => {
			<div id="@elements.id" class="@elements.args.get('_fieldsetClass) form-group @if(elements.hasErrors) {error}">
				<label class="@elements.args.get('_labelClass)" for="@(elements.id)_text" ><span class="label-span">@elements.label</span>

            @elements.args.get('_optional) match {
                case Some(true) => { <span class="visuallyhidden">(@Messages("label.optional")(elements.messages))</span> }
                case _ => { <span class="visuallyhidden">(@Messages("label.required")(elements.messages))</span>}
            }
                </label>
		}
    }

    @elements.args.get('_optional) match {
        case Some(true) => { <span class="form-hint">@Messages("label.optional")</span> }
        case _ => {}
    }

    @elements.args.get('_nojsText).map { nojsText =>
            <p class="hidden">@nojsText</p>
    }


    @elements.args.get('_helpIndent).map { helpText =>
            <p class="icon-important">@helpText</p>
    }
    @elements.args.get('_details) match {
        case Some(true) => {
            <details>
                <summary><span>@elements.args.get('_detailsQuestion).map{detailsQuestion=>@detailsQuestion}</span></summary>
                <div class="panel-indent">
                  @elements.args.get('_detailsAnswer).map { detailsAnswer => @detailsAnswer }
                </div>
            </details>
        }
        case _ => {}
    }

    @if(elements.hasErrors) {
    	<div class="@if(elements.hasErrors) {form-grouped-error}">
    		<p class="error-message">@elements.errors.mkString(", ")</p>
    }

    @elements.args.get('_help).map { helpText =>
    		<span class="form-hint">@helpText</span>
    }


    @elements.args.get('_pound) match {
        case Some(true) => { <span class="pound">£</span> }
        case _ => {}
    }

    @elements.input

    @elements.args.get('_characterCount).map { characterCount =>

        <div class="charCount hide-if-no-js">@Html(Messages("copy.character.count", characterCount)(elements.messages))</div>
        <div class="charCount-no-js hidden">@Html(Messages("copy.character.count.nojs", characterCount)(elements.messages))</div>

    }

	@if(elements.hasErrors) {
    	</div>
	}

    @elements.args.get('_add) match {
        case Some(true) => {
            <a href="#" class="remove" role="button" style="display:none">@Messages("label.add.remove")(elements.messages)</a>
            <a href="#" class="add" role="button" >@Messages("label.add.individual")(elements.messages)</a>
        }
        case _ => {}
    }



	@elements.args.get('_legend) match {
     	case Some(true) => { </fieldset> }
		case _ => { </div> }
    }
