@import helper._

@(field: play.api.data.Field,
        options: Seq[String],
        dataAttributes: Seq[(String, String, Any)] = Seq(),
        args: Seq[(Symbol, Any)])(implicit rh: RequestHeader, messages: Messages)

@input(field, args.map { x => if(x._2 == '_label) '_name -> x._2 else x }: _*) { (id, name, value, htmlArgs) =>

    @options.map { v =>
        <label class="block-label" for="@(id)_@v">
            <input id="@(id)_@v" type="radio" name="@name" value="@v"
            @if(value.contains(v)) {
                checked
            }
            @toHtmlArgs(_root_.template.HtmlSupport.getArgs(v, dataAttributes, htmlArgs))
            />
            @Html(Messages(s"$id.$v"))
        </label>
    }

}(_root_.template.Helper.myFields, messages)
