
@**
 * Generate an HTML input text.
 *
 * Example:
 * {{{
 * @inputText(field = myForm("name"), args = 'size -> 10, 'placeholder -> "Your name")
 * }}}
 *
 * @param field The form field.
 * @param args Set of extra attributes.
 * @param handler The field constructor.
 *@

@(field: play.api.data.Field, args: (Symbol,Any)*)(implicit requestHeader: RequestHeader, messages: Messages)

@input(field, args:_*) { (id, name, value, htmlArgs) =>
    <label class="visuallyhidden" for="@(id)input">Choose a fiel to upload</label>
    <input type="file" id="@(id)input" value="@getValue(value, args)" name="@name" @toHtmlArgs(htmlArgs) />
}(requestHeader, messages)

@getValue(value: Option[String], args: Seq[(Symbol, Any)]) = @{
    if (value.isDefined) value.get
    else args.toMap.getOrElse('_value, "")
}
