@*
* Copyright 2022 HM Revenue & Customs
*
*@

@()(implicit messages: Messages)

<span id="error-common-title" class="govuk-!-display-none">@messages("error.common.title")</span>
<span id="accessibility-error-label" class="govuk-!-display-none">@messages("accessibility.error.label")</span>
<span id="supportingDocuments-defaultError" class="govuk-!-display-none">@messages("supportingDocuments.defaultError")</span>
<span id="error-postcode-missing" class="govuk-!-display-none">@messages("error.postcode.missing")</span>
<span id="selectValue"  class="govuk-!-display-none">@messages("label.selectValue")</span>
<span id="addressHelp"  class="govuk-!-display-none">@messages("addressHelp")</span>
<span id="error-postcode-lookup"  class="govuk-!-display-none">@messages("error.postcodeLookupError")</span>
