@import controllers._
@(pagination: PaginationSearchSort)

<div class="dataTables_length" id="propertiesTableBusiness_length"
     style="float: none; margin-left: 30px; display: inline-block; margin-top: 13px;">
    <label for="page_size">
        Show
    </label>
    <select id="page_size" name="propertiesTableBusiness_length" aria-controls="propertiesTableBusiness">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
</div>

<div class="dataTables_paginate paging_simple_numbers" id="propertiesTableBusiness_paginate">
    @for(id <- pagination.getHtml.reverse){
    @id
    }
</div>

