@(pagination: Pagination, url: (Int, Int) => Call)(implicit messages: Messages)

@paginationLink(pageSize: Int) = {
    @if(pagination.pageSize == pageSize) {
        <strong>@pageSize</strong>
    } else {
        <a href="@url(pagination.pageNumber, pageSize)">@pageSize</a>
    }
}
@*
    @Messages("paginationControls.show")

    <ul class="pageLength">
        <li>@paginationLink(15)</li>
        <li>@paginationLink(25)</li>
        <li>@paginationLink(50)</li>
        <li>@paginationLink(100)</li>
    </ul>


    @Messages("paginationControls.rows")

*@
