@import _root_.template.Display

@(model: LinkAuthorisedVM)(implicit request: Request[_])


@main_template(title = Messages("selfCertification.linkSubmitted.title")) {

        <div class="grid-row">
            <div class="column-two-thirds">

                <div class="transaction-banner--complete">
                  <h1 class="transaction-banner__heading">@Messages("selfCertification.linkSubmitted.title")</h1>
                  <p>Information concerning the transaction</p>
                </div>




            <h2 class="heading-medium success-summary-heading" id="success-summary-heading-example-1">
                @Messages("selfCertification.linkSubmitted.message")
            </h2>

            <p style="margin-bottom: 0">@model.linkedProperty.address.toString</p>


        <p><a id="backToDashBoard" href="@routes.Dashboard.manageProperties()" class="button">@Messages("selfCertification.linkAuthorised.properties.link")</a></p>
    </div>
</div>
}
