@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(model: SelfCertifyVM)(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("selfCertification.show.title")) {
    @form(routes.SelfCertification.submit()) {

        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="form-title heading-xlarge">
                    <span class="section-title">@Messages("selfCertification.show.title")</span>
                </h1>

                <p id="self-certification-statement" class="panel panel-border-narrow">@Messages("selfCertification.show.message")</p>

                @includes.errorSummary(model.form, Some("selfCertification.show"))

                <br />

                <div class="clearfix"></div>
                <div class="notice">
                    <i class="icon icon-important">
                        <span class="visuallyhidden">Warning</span>
                    </i>
                    <strong class="bold-small">
                    @Messages("selfCertification.show.iAgree.hint")
                    </strong>
                </div>

                <br />


                @checkbox(
                    field = model.form("iAgree"),
                    'id -> "iAgree",
                    '_label -> Html(Messages("selfCertification.show.iAgree.label")),
                    '_fieldsetClass -> "inline",
                    '_legend -> false,
                    '_labelClass -> "visuallyhidden",
                    '_showConstraints -> false,
                    '_text -> Messages("selfCertification.show.iAgree.text")
                )

                <div class="clearfix"></div>

                <br/>
                <br/>

                <button type="submit" class="button">@Messages("selfCertification.show.button")</button>
            </div>
        </div>

    }
}
