@import utils.Formatters._
@import java.time.LocalDateTime

@(reference: Option[String], dateTime: LocalDateTime)(implicit requestHeader: RequestHeader, messages: Messages)

@main_template(Messages("global.error.InternalServerError500.title"), topNavigation = false) {

    <h1 class="heading-xlarge">@Messages("global.error.InternalServerError500.heading")</h1>

    <p>@Messages("internalServerError.p.1")</p>

    <p>@Messages("internalServerError.p.2")</p>

    @reference.map { r =>
        <p>@Messages("internalServerError.reference", r)</p>
    }

    <p>@Messages("internalServerError.date", formatDate(dateTime.toLocalDate))</p>

    <p>@Messages("internalServerError.time", formatTime(dateTime.toLocalTime))</p>

}
