.lte-ie8{
	.button{
		border-bottom: solid 2px darken($button-colour, 15%);
	}
	.button-secondary{
		border-bottom: solid 2px darken($grey-3, 15%);
	}
	.link-back{
		padding: 0;

	}
	.button-link.link-back{
		*display:block;
		*width: 34px;
	}
}

.button-secondary{
	@include button($grey-3);
	margin: 0 $gutter-half $gutter-half 0;
	padding: em(10) em(15) em(5) em(15);
	vertical-align: top;
}


.button{
	margin-right:10px;
}

.manual-address,
.need-help{
	margin-top: 20px;
	display: table;
}
.select-address{
	margin-top:20px;
}


@media (max-width: 640px){
	.form #findPostcode{
  		width: auto;
	}
	.save.button{
		margin-top: 1em;
	}
}

.column-third{
	.save{
		margin-top: 20px;
	}
}

.button-get-started {
	 background-image: url("#{$asset-path}icon-pointer.png");
}
@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min--moz-device-pixel-ratio: 2),
	only screen and (-o-min-device-pixel-ratio: 20/10),
	only screen and (min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
	    .button-get-started {
	      	background-image: url("#{$asset-path}icon-pointer-2x.png");
	 	}
}
.button-link{
	background:none!important;
	border:none;
	padding:0;
	font: inherit;
	border-bottom:1px solid #444;
	cursor: pointer;
}
a.link-back {
	display: inline-block;
}
.link-back {
  //display: -moz-inline-stack;
  display: block;
  position: relative;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  margin-top: 16px;
  margin-bottom: 15px;
  padding-left: 14px;
  color: $black;
  text-decoration: none;
  border-bottom: 1px solid $black;
}

@media (min-width: 641px) {
  .link-back {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (max-width: 640px) {
	.button{
		width:100%;
		float: none;
		&.findPostcode{
			width: auto;
		}
	}
}
.findPostcode{
	display: block;
    margin-top: 20px;
}
h1.form-title a.link-back{
	font-size: 16px;
    line-height: 1.25;
    display: inline-block;
}

.link-back:link,
.link-back:visited,
.link-back:hover,
.link-back:active {
  color: $black;
}

.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid $black;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

@-moz-document url-prefix() {
  .link-back::before {
    border-top: 5px dotted rgba(255, 0, 0, 0);
    border-bottom: 5px dotted rgba(255, 0, 0, 0);
  }
}

.hidden-button{
	display:none;
	visibility:hidden;
}

h1.form-title a.confirm-download-link{
	margin-top: 2em;
    display: inline-block;
    color: #fff;
    font-weight: 800;
}

#logout {
	color: $white
}