/* forms custom */
/* ----------- */
.js .hidden{
	display: none;
    visibility: hidden;
}
.no-js .hide-if-no-js,
.no-js .hidden.intel-alert{
	display: none;
    visibility: hidden;
}

.no-js .hidden,
.no-js .show-if-no-js{
	display: block;
    visibility: visible;
}

.lte-ie8{
	#content, 
	#global-header-bar,
	.header-content,
	.help-container {
	  max-width: 960px;
	  width: 960px;
	  margin: 0 15px;
	  margin: 0 30px;
	  margin: 0 auto;
	}
	#global-header-bar{
		.inner-block {
  			padding: 0;
		}
	}
	.column-two-thirds{
		width: 66.6666%
	}	
	.form-control{
		width: 50%;
	}
	.inline{
		.block-label{
			display: inline-block;
		}
	}
	.form-group {
		.form-reference{
			.form-group-reference-7{
				margin-bottom: 0;
			}
			.form-group-reference-3{
				margin-bottom: 0;
			}
			
		}
		&.address-fields{
			margin-bottom: 10px;
		}
		
	}
	.tick{
		display: none;
	}	
	.block-label {
		input{
			top: 10px;
		}
		float: left;
		display: inline-block;
	}
}

.header-content{
	padding-bottom: 0;
}

.form-group {
	.form-reference{
		.form-group-reference-7{
			width: 100px;
			margin-right: 10px;
		}
		.form-group-reference-8{
			width: 140px;
			margin-right: 10px;
		}
		.form-group-reference-3{
			width: 60px;
		}
		.divider{
			width: auto;
			font-size: 1.5em;
			margin-right: 10px;
			*margin-left: 10px;
		}
		
	}
	.postcode{
		width: 120px;
	}
}
#content {
  @extend %site-width-container;
  @extend %contain-floats;
  padding-bottom: 20px;

  @include media(desktop) {
    padding-bottom: 20px;
  }
}

.form-control{
	padding: 6px;
}

.showHide-group{
	display: none;
	margin-top: 20px;
}

.input-extra-large{
	width:80%;
}
.input-extra-small{
	width:10%;
}

.postcode-results{
	display: none;
}
.form-date {
	.custom-140{
		width:140px;
	}
}

.header-content {
  @extend %site-width-container;
  @extend %contain-floats;
  padding-bottom: 0;
}
.help-container{
	  @include core-19;
  -webkit-font-smoothing: antialiased;
	@extend %site-width-container;
  	@extend %contain-floats;
	padding-bottom: 30px;	
}
#content:focus {outline:0;}

/* form errors */
fieldset.has-error{
	.form-grouped-error{
		display: inline-block;
	}
}

.form-error{
	&.alert{
		border: 5px solid $red;
		padding: 15px;
		margin-bottom: 30px;
	}
	&:focus {
    	outline: 3px solid #ffbf47;
	}

	h2{
		@include bold-24;
		margin-bottom: 15px;
	}
	ul{
		list-style-type: disc;
		list-style-position: inside;
    	display: table;
		li{
			@include core-19;
			color: $red;
			font-weight: bold;
			text-decoration: none;
    		display: table-row;
			a{
				text-decoration: underline;
				&:link,
				&:visited,
				&:active{
					color: $red;
				}
				&:hover{
					text-decoration: none;
					color: darken( $red, 15% );
				}
			}
		}
	}

}
.inline{
	.form-grouped-error{
		display: inline-block;
	}
}
.form-grouped-error{

		p.error{
		    margin-bottom: 0px;
		    padding-bottom: 5px;
		    &:first-letter{
		    	text-transform:capitalize;
		    }
		}

		border-left: 5px solid $red;
		list-style: outside none none;
		padding: 0 0.5em 0 1em;
		display: block;
}
.form-date-dayMonth.form-grouped-error,
.form-reference.form-grouped-error,
.form-field-group.form-grouped-error {
	display: inline-block;
}

.form-reference,
.form-date-dayMonth,
.form-field-group {

  .form-group {
    float: left;
    width: 50px;

    margin-right: 20px;
    margin-bottom: 0;
    clear: none;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
    }

  }



}
.form-field-group{
	.custom-140{
		width:140px;
	}
}

.account-info{
	padding: 10px 0;
	//border-top: 1px solid #BFC1C3;
	ul{
		display: inline-block;

		li{
			font-size: 16px;
			display: inline;
			margin-right: 2em; 
			span{
				font-weight: 800;
			}
		}
	}
	
}
.side-status{
	  margin-top: 2.4em;
	  li{
	  	margin: 4px 0;
	  }
}
.pull-right{
	float: right;
}

.pull-left{
	float: left;
}
hr{
	
	border: 0;
    height: 0;
    border-bottom: 1px solid $grey-2;
}

h1{
	&.form-title{
    	//margin-top: 0px;
	    .declaration-back{
			display: table-caption;
			font-size:16px;
			margin-bottom:16px;
		}
		a{
		font-size: .5em;
		font-weight: 100;
		display: block;
		margin-bottom: 8px;
		}
		.back-link{
			display: inline-block;
		}
		.section{
			font-size: .6em;
			display: block;
			font-weight: 100;
			margin-bottom: .4em;
			color: $grey-1;
		}
	}
	&.form-title-group{
		margin-top: 0px;
	}
	
	
}
.form-title{
	&.heading-confirmation{
		background-color: $turquoise;
		color: #fff;
		padding: .6em;
		text-align: center;
		margin-top: 0;
		.reference-text{
		  color: #fff;
		  margin-top: 1em;
		  @include core-24;
		  display: block;
		  font-weight: 100;
		}
		.reference-number{
			font-weight: 800;
			font-size:  1em;
			margin-top: 0;
		}
	}

}

.form-label-bold{
	@include bold-24;
   	margin-bottom: 0.5em;
}
p.error{
	@include core-19;
	font-weight: bold;
	border-left: none; 
	padding-left: 0;
	color: $red;
}
.form-grouped-error .form-control,
.has-error .form-control{
	border: 4px solid $red;
}

legend{
	width: 100%;
}

.form-date-dayMonth{
	.form-group-year{
		width:70px;
	}
}
.pound{
	position: relative;
	left: 20px;
	margin-left: -14px;
}
.input-currency{
	padding-left: 24px;
	width: 170px;
}


@media (min-width: 641px){
	.form-control.input-currency.details-amount{
		width: 40%;
	}
}


#sidebar{
	background-color: $grey-3;
	height:200px;
	li[data-section]{
		
		opacity: 0;

	}
	li[data-section].active{
		
	/*	
		  -webkit-transition: opacity 0.5s ease-in;
       -moz-transition: opacity 0.5s ease-in;
         -o-transition: opacity 0.5s ease-in;*/
                                  opacity: 1;
	}
}

.field-inline{
	display: inline-block;
  	width: auto;
}


.button.button-secondary.pdf-button{
	//margin-right:10px;
	//display: none;
}

.manual-address-abroad {
	display: inline-block;
	margin-bottom: 20px;
}
.no-js .address-abroad.hide-if-no-js{
  display:none !important;
  visibility: hidden !important;
}
.destination {
  font-family: "nta",Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
  font-weight: 400;
  text-transform: none;
  color: #0b0c0c;
  display: block;
  margin-top: -0.5em;
  max-width: 13em;
}
.hint{
	 color: $grey-1;
}

	.font-bold{
		font-weight: 800 !important;
	}
	.sub-check{
		margin-left: 40px;
	}

.dropArea{
	border: dashed 4px $grey-3;
	padding: 20px;
	display: table; 
	height: 200px; 
	width: 100%;
	overflow: hidden;
	text-align: center;
	.inner{
		display: table-cell; 
		vertical-align: middle;
		width: 100%;
		margin: 0 auto;
		span{
			  font-size: 24px;
  				font-weight: 800;
		}
	}
}
.input-group-spacer{
	margin-top: 14px;
    display: block;
}

.add{
	display: table;
	margin-top:20px;
}
.remove{
	margin-left: 10px;
}
.address-fields{
	margin-bottom: 10px;
}
.placeholder{
	color: $grey-2;
}
.details-year{
	width: 100px;
	margin-right: 20px;
}
.details-amount{
	width:90%;
}
.multi-fields-group{
	display: inline-block;
	margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px $grey-2;
	&.form-grouped-error {
		padding-bottom: 0;
		margin-bottom: 1em;
	}
}
.remove-multi-fields{
	//margin-top: 35px;
    display: table;
}
@media (max-width: 640px) {
	.addressList{
		-webkit-appearance: menulist;
		width:100%;
	}
	.summary-actions{
		margin-right: 24px;
		.button{
			text-align: center;	
		}
		
	}
	body{
		.summary-actions-top{
		  	float: none;
		    margin-right: 30px;
		    display: block;
		  	.button{
    			margin-right:0;
    			margin-left:0;
    			width: 100%;
    			text-align: center;
    		}
		}
	}

	
}
.top-actions{
	margin-top: -18px;
    display: inline-block;
    float: right;
	.save{
		margin-top: 20px;
		margin-right: 0;
	}
}
.summary-actions-top{
	margin-right:0;
	margin-top: 18px;
    display: inline-block;
    float: right;
    .button{
    	margin-right:0;
    	margin-left:20px;
    }
}

.capitalize{
	text-transform: capitalize;
}   
.icon-important{
 	background: url("#{$asset-path}icon-important.png") no-repeat scroll 0 0.3em;
 	padding-left: 60px;
    min-height: 50px;

    .single-line{
    	margin-top: 10px;
    	display: inline-block;
    }
 }

details{
	margin-bottom: 20px;
}
details summary{
	display: inline-table;
}
details summary span {
    text-decoration: underline;
}


.fieldset-inline{
	display: inline-block;
	width: auto;
	margin-bottom: 30px;
	margin-right: 30px;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.no-js .form-group.radioOverseas{
  	margin-bottom:0;
	display: block;
}
.radioOverseas{
	display: none;
}
.rentAmount{
	margin-right: 1em;
}
.annualAmount{
	color: $grey-1;
}
.charCount{
	display: block;
	color: $grey-1;
	margin-top: 10px;
}
.charCount-no-js{
	color: $grey-1;
}
@media (max-width: 640px) {
	textarea.input-extra-large{
		width:100%;
	}
}	
.tick{
	color: #fff;
}



//Feed back page
.help-content{

	h1, h2 {
		
		@include bold-36();
	  	margin-top: em(25, 24);
	  	margin-bottom: em(10, 24);

	  	@include media(tablet) {
	    	margin-top: em(45, 36 );
	    	margin-bottom: em(20, 36);
	  	}

	}
	strong, 
	legend,
	.feebbackLabel {


  		@include bold-24();

  		margin-top: em(25, 20);
  		margin-bottom: em(10, 20);

  		@include media(tablet) {
    		margin-top: em(45, 24);
    		margin-bottom: em(20, 24);
  		}

	}
	.feedbackLabel, 
	.feedbackLabelFooter{
		display: block;
		visibility: visible;

	}
	fieldset{
		margin-bottom: 30px;
	}
	.error-notification{
		display: block;
	}
	.form-field span,
	[for="contact-comments"],
	.input--fullwidth{
		display: block;
	}
	.form-field {
		display: block;
		margin-bottom: 30px;
	}
	small{
		display: block;
	    color: #6f777b;
	    margin-top: 5px;
	}
	textarea{
		height: 200px;
    	width: 100%;
	}
	.form-field--error{
	    border-left: 5px solid #b10e1e;
	    list-style: outside none none;
    	padding: 0 0.5em 0 1em;
    	display: block;
    	.error-notification {
    		color: $error-colour;
    		@include core-19;
			display: block;
			clear: both;
			margin: 0;
			padding: 5px 0 7px 0;
			font-weight: bold;
		}
		input, textarea{
			border: 4px solid $error-colour;
		}
	}		

	label br {
		display: none;
	}
}

.form-help-toggle{
	display: inline-block;	
}

//hide Tax text
.element-hidden{
	h1, h2, p,
	.h2-heading{
		display:none;
		visibility: hidden;
	}
}


.form-group .vat-alert {
  padding-bottom: 10px;
}

 .appleLink { 
 	color:$black !important; 
 	text-decoration:none !important; 
 }

.form-title.heading-confirmation {
	margin-top: 20px;
}
strong{
	font-weight:800;
}
.save-for-later{
	background-color: $turquoise;
    color: #fff;
    font-size: 1.5em;
    padding: 1em;
    span{
    	width: 10em;
    	display: inline-block;
    }
}
.form-error.alert.alert-save-for-later{
	border: 5px solid $red;
    padding: 15px;
    margin-bottom: 30px;
    color: $red;
    margin-top: 1em;
}
@media (max-width: 916px){
	.save-for-later{
		font-size: 1em;
	}
}

.panel-indent{
  @extend %contain-floats;
  clear: both;
  border-left-style: solid;
  border-color: $border-colour;

  padding: em(15, 19);
  margin-bottom: em(15, 19);
  border-left-width: 10px;
  :first-child {
    margin-top: 0;
  }

  :only-child,
  :last-child {
    margin-bottom: 0;
  }
}

.address-confirmation {
  background-color: #28a197;
  color: #fff;
  padding: .6em;
  text-align: center;
  margin-top: 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.04167;
  font-weight: 700;
  text-transform: none;
}