.no-js,
.lte-ie8,{
	.inline{
		.block-label{
			*display: inline-block;
		}		
	}
	.block-label{
		float: left;
		margin: 4px 15px 4px 0;
		padding-left: 30px;
		*float: none;
	}
	.block-label [type="checkbox"], .block-label [type="radio"] {
		border: none;
		clip: none;
		height: auto;
		margin: 0 -10px 0 0 ;
		overflow: auto;
		padding: 0;
		position: relative;
		right: auto;
		width: auto;
		top: auto;
		left: -20px;
	}
	.block-label [type="checkbox"] + span, .block-label [type="radio"] + span {
		position: relative;
		left: 4px;
		top: 7px;
		background: none;
		display: inline-block;
		border: none;
		-webkit-border-radius: none;
		-moz-border-radius: none;
		border-radius: none;
		.inner{
			display: inherit;
			-webkit-border-radius: none;
			-moz-border-radius: none;
			border-radius: none;
			border: none;
		}
	}
	.block-label.selected [type="checkbox"] + span .inner, .block-label [type="checkbox"]:checked + span .inner {
  		background-image:  none;
	}
	.form-group{
		margin-bottom: 30px;
	}
}




.block-label {
  background: none;
  border: none;
  padding: 10px 30px 10px 37px;
}  

.block-label [type="checkbox"], .block-label [type="radio"] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 50px;
	width: 1px;
}
.block-label [type="checkbox"] + span, .block-label [type="radio"] + span {
	position: absolute;
	left: 4px;
	top: 7px;
	background: #fff;
	display: inline-block;
	border: 2px solid #0b0c0c;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	//margin-top: 5px;
}

@media (min-width: 641px){
	.block-label [type="checkbox"] + span, .block-label [type="radio"] + span {
		width: 25px;
		height: 25px;
		left: 7px;
		top: 8px;

	}
	.block-label [type="checkbox"] + span .inner, .block-label [type="radio"] + span .inner {
  		width: 19px;
  		height: 19px;
	}
	.block-label {
	  padding-left: 42px;
	}
}
@media (max-width: 640px){
	.block-label [type="checkbox"] + span .inner, .block-label [type="radio"] + span .inner {
  		width: 16px;
  		height: 16px;
	}
}	
.block-label [type="checkbox"] + span .inner, .block-label [type="radio"] + span .inner {
	display: inherit;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 3px solid #fff;

}
.block-label.selected [type="radio"] + span, .block-label [type="radio"]:checked + span {
  background: #0b0c0c;
}
.js-enabled .selected:hover {
  background-color: #ffbf47;
}
.block-label:hover {
  background-color: #ffbf47;
}
.block-label [type="checkbox"] + span {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.block-label [type="checkbox"] + span .inner {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}


.block-label.selected [type="checkbox"] + span .inner, .block-label [type="checkbox"]:checked + span .inner {
	background: url("#{$asset-path}icons/checkbox-tick.png") 0 0 no-repeat;
}
@media (max-width: 640px){
	.block-label.selected [type="checkbox"] + span .inner, .block-label [type="checkbox"]:checked + span .inner {
		background: url("#{$asset-path}icons/checkbox-tick-mobile.png") 0 0 no-repeat;
	}
}

