  .searchfield{
      position: relative;
      margin-bottom: 20px;
      width:85%;
    input{
      font-family: "proxima_nova", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 93%;
    width: -webkit-calc(100% - 49px);
    width: calc(100% - 49px);
    margin: 0;
    padding: 0 0 0 10px;
    display: block;
    height: 50px;
    border: 1px solid #bbb;
    min-width: 8em;
    border-color: #bfc1c3;
    border-right: none;

    }
    .search-submit{

        bottom: 0;
        right: 0;
        overflow: visible;
        cursor: pointer;
       -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      position: absolute;
      z-index: 4;
      right: 0;
      top: 0;
      width: 50px;
      height: 50px;
      border: none;
      overflow: hidden;
      text-indent: -5000px;
      color: #fff;
      background-color: #005ea5;
      background-image: url('#{$asset-path}icons/search-button.png');
      background-repeat: no-repeat;
      background-position: -12.5% 50%;
    }
  }

  #results{
    li{
      margin-bottom: 2em;
    }
    h2{
      @include core-24;
      text-transform: uppercase;
    }
    a{
      text-decoration: none;
      &:hover{
          text-decoration: underline;
        }
        &:visited{
          color: #005ea5;
        }
      }
    .refNumber,
    .desc,
    .descNum{
      display: inline-block;
       @include core-14;
       color: $grey-1;
    }
    .rateValue{
      display: inline-block;
      @include bold-19;
    }
    mark{
      background: none;
      color: #005ea5;
      font-weight: 800;
    }
  }

  .caps{
    text-transform: uppercase;
  }

.search-compare{
  width: 50%;
}
@media (max-width: 640px) {
  .search-compare{
    width: 100%;
  }
}

.searchresult{
  font-size: 16px;
  .button-secondary{
    margin-left: 20px;
    margin-right: 0;
  }
  .button-secondary:link, 
  .button-secondary:hover, 
  .button-secondary:focus, 
  .button-secondary:visited {
    color: #0b0c0c !important;
  }
  .button-secondary:hover{
    text-decoration: none !important;;
  }
}