@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import controllers.ChooseEvidence.keys

@(f: Form[_])(implicit request: Request[_], messages: Messages)

    @main_template(Messages("chooseEvidence.title"),
        topBackLink = true,
        bottomBackLink = true
    ){
        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="heading-xlarge">@Messages("chooseEvidence.title")</h1>



                @form(routes.ChooseEvidence.submit) {

                    @includes.errorSummary(f)

                    @inputRadioGroup(
                        f(keys.hasRatesBill),
                        options = Seq("true", "false"),
                        args = Seq(
                            '_label -> Messages("label.hasRatesBill"),
                            '_labelClass -> "form-label-bold",
                            '_legend -> true
                        )
                    )

                <p>
                    <button type="submit" id="continue" class="button">@Messages("label.continue")</button>
                </p>
                }

            </div>
        </div>
    }
