@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(model: UploadRatesBillVM)(implicit request: Request[_], messages: Messages)


    @main_template(title = Messages("uploadRatesBill.show.title")) {

    @form(routes.UploadRatesBill.submit(), 'enctype -> "multipart/form-data") {

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="form-title heading-xlarge">
                        <span class="section-title">@Messages("uploadRatesBill.show.title")</span>
                    </h1>
                    <p>@Messages("uploadRatesBill.show.message")</p>

                        @includes.errorSummary(model.form)

                            @inputRadioGroup(
                                field = model.form("hasRatesBill"),
                                options = HasRatesBill.options,
                                dataAttributes = Seq(
                                  (DoesHaveRatesBill.name, "data-toggle-id", "ratesBillUpload")
                                ),
                                args = Seq(
                                '_label -> Messages("hasRatesBill.label"),
                                '_labelClass -> "form-label-bold",
                                '_error -> model.form("hasRatesBill").error,
                                '_legend -> true,
                                '_fieldsetClass -> "inline"
                                )
                            )

                        <div class="form-group" id="ratesBillUpload" data-toggle-hidden >
                            @inputFile(
                                field = model.form("ratesBill[]"),
                                '_label -> Messages("ratesBill.label"),
                                '_labelClass -> "form-label-bold",
                                'class -> "filer_input",
                                '_help -> Messages("ratesBill.label.1")
                            )
                        </div>

                        <button type="submit" class="button">@Messages("uploadRatesBill.show.button")</button>
                </div>
            </div>

    }
}
