@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(model: UploadRatesBillVM)(implicit request: Request[_], messages: Messages)

    @main_template(title = Messages("uploadRatesBill.show.title")) {

        @form(routes.UploadRatesBill.submit(), 'enctype -> "multipart/form-data") {

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="heading-large">
                        @Messages("uploadRatesBill.show.title")
                    </h1>

                    <p>@Messages("uploadFile.allowedTypes")</p>

                    @includes.errorSummary(model.form)

                    @inputFile(
                        field = model.form("ratesBill[]"),
                        '_labelClass -> "visuallyhidden",
                        'class -> "filer_input",
                        '_fieldsetClass -> "file-input-group"

                    )

                    <button type="submit" class="button">@Messages("uploadRatesBill.show.button")</button>
                </div>
            </div>

        }
    }
