@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(model: UploadRatesBillVM)(implicit request: Request[_])

@main(Messages("uploadRatesBill.show.title")) {

    @form(routes.UploadRatesBill.submit(), 'enctype -> "multipart/form-data") {
        <main id="content">
            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="form-title heading-xlarge">
                        <span class="section-title">@Messages("uploadRatesBill.show.title")</span>
                    </h1>
                    <p>@Messages("uploadRatesBill.show.message")</p>

                        @includes.errorSummary(model.form, Some("uploadRatesBill.show"))

                        <fieldset class="inline form-group">
                            @helper.CSRF.formField

                            @inputRadioGroup(
                                field = model.form("hasRatesBill"),
                                options = HasRatesBill.options,
                                dataAttributes = Seq(
                                  (DoesHaveRatesBill.name, "data-show-field", "true")
                                ),
                                args = Seq(
                                '_label -> Messages("hasRatesBill.label"),
                                '_labelClass -> "form-label-bold",
                                '_error -> model.form("hasRatesBill").error
                                )
                            )
                            <div class="form-group hidden hasRatesBill">
                                <input type="file" name="ratesBill" />
                            </div>
                        </fieldset>
                        <button type="submit" class="button">@Messages("uploadRatesBill.show.button")</button>
                </div>
            </div>
        </main>
    }
}