@(refId: String)(implicit request: Request[_], messages: Messages)


@main_template(title = Messages("noEvidenceUploaded.title")) {


    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="form-title heading-xlarge">
                <span class="section-title">@Messages("noEvidenceUploaded.title")</span>
            </h1>

            <p>@Messages("noEvidenceUploaded.p.1", refId)</p>

            <a id="backToDashBoard" href="@routes.Dashboard.manageProperties()" class="button">@Messages("linkingRequestSubmitted.link")</a>
        </div>
    </div>


}
