@(refId: String)(implicit request: Request[_], messages: Messages)


@main_template(title = Messages("noEvidenceUploaded.title")) {


    <div class="grid-row">
        <div class="column-two-thirds">
            <h1 class="heading-xlarge">
                @Messages("noEvidenceUploaded.title")
            </h1>

            <p>@Messages("noEvidenceUploaded.p.1", refId)</p>

            <a id="backToDashBoard" href="@routes.Dashboard.home()" class="button" role="button">@Messages("link.dashboard")</a>
        </div>
    </div>


}
