@()(implicit request: Request[_])

@main("") {
    <main id="content">
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="form-title heading-xlarge">
                    <span class="section-title">@Messages("uploadEvidence.otherProof.title")</span>
                </h1>
            </div>
        </div>
        <p>@Messages("uploadEvidence.otherProof.message")</p>
        <a class="button" href="@routes.UploadEvidence.show()">@Messages("uploadEvidence.otherProof.link")</a>
        <a class="button" href="@routes.LinkErrors.manualVerificationRequired()">@Messages("uploadEvidence.noOtherProof.link")</a>
    </main>
}