@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(model: UploadEvidenceVM)(implicit request: Request[_], messages: Messages)


@main_template(title = Messages("uploadEvidence.show.title"), bottomBackLink = true, topBackLink = true) {


    @form(routes.UploadEvidence.submit(), 'enctype -> "multipart/form-data") {

        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">
                    @Messages("uploadEvidence.show.title")
                </h1>

                <p>@Messages("uploadEvidence.p.1")</p>
                <p>@Messages("uploadEvidence.evidenceTypes")</p>
                <ul class="list-bullet">
                    <li>@Messages("uploadEvidence.evidenceTypes.1")</li>
                    <li>@Messages("uploadEvidence.evidenceTypes.2")</li>
                    <li>@Messages("uploadEvidence.evidenceTypes.3")</li>
                    <li>@Messages("uploadEvidence.evidenceTypes.4")</li>
                </ul>

                <a href="@routes.UploadEvidence.noEvidenceUploaded("fake ref id")">@Messages("uploadEvidence.noEvidence")</a>
                <p>@Messages("uploadFile.allowedTypes")</p>

                @includes.errorSummary(model.form)

                @inputFile(
                    field = model.form("evidence[]"),
                    '_label -> Messages("evidence.label"),
                    '_labelClass -> "visuallyhidden",
                    '_help -> Messages("evidence.label.1"),
                    'class -> "filer_input",
                    '_fieldsetClass -> "file-input-group"
                )

                @inputSelect(
                    field = model.form("evidenceType"),
                    options = EvidenceType.options,
                    displayEmptyValue = false,
                    args = Seq(
                        '_label -> Messages("evidenceType.label"),
                        '_labelClass -> "form-label-bold",
                        '_class -> "form-control"
                    )
                )

                <button type="submit" class="button">@Messages("uploadEvidence.show.button")</button>
            </div>
        </div>

    }
}
