@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(model: UploadEvidenceVM)(implicit request: Request[_], messages: Messages)


    @main_template(title = Messages("uploadEvidence.show.title")) {


    @form(routes.UploadEvidence.submit(), 'enctype -> "multipart/form-data") {

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="form-title heading-xlarge">
                        <span class="section-title">@Messages("uploadEvidence.show.title")</span>
                    </h1>

                    @includes.errorSummary(model.form)

                    <fieldset class="inline form-group">

                        @inputRadioGroup(
                            field = model.form("hasEvidence"),
                            options = HasEvidence.options,
                            dataAttributes = Seq(
                              (DoesHaveEvidence.name, "data-toggle-id", "evidenceFileUpload")
                            ),
                            args = Seq(
                                '_label -> Messages("hasEvidence.label"),
                                '_labelClass -> "form-label-bold"
                            )
                        )

                    </fieldset>

                        <div id="evidenceFileUpload" data-toggle-hidden style="display: none;" class="form-group">
                            <div class="form-label-bold">@Messages("evidence.label")</div>
                            <p class="panel-indent">@Messages("evidence.label.1")</p>

                                @inputFile(
                                    field = model.form("evidence"),
                                    '_label -> "",
                                    '_labelClass -> "form-label-bold"
                                )

                                @inputSelect(
                                    field = model.form("evidenceType"),
                                    options = EvidenceType.options,
                                    displayEmptyValue = false,
                                    args = Seq(
                                        '_label -> Messages("evidenceType.label"),
                                        '_labelClass -> "form-label-bold",
                                        '_class -> "form-control"
                                    )
                                )

                        </div>

                    <button type="submit" class="button">@Messages("uploadEvidence.show.button")</button>
                </div>
            </div>

    }
}
