@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(model: UploadEvidenceVM)(implicit request: Request[_], messages: Messages)


    @main_template(title = Messages("uploadEvidence.show.title")) {


    @form(routes.UploadEvidence.submit(), 'enctype -> "multipart/form-data") {

            <div class="grid-row">
                <div class="column-two-thirds">
                    <h1 class="form-title heading-xlarge">
                        <span class="section-title">@Messages("uploadEvidence.show.title")</span>
                    </h1>

                    @includes.errorSummary(model.form)

                        @inputRadioGroup(
                            field = model.form("hasEvidence"),
                            options = HasEvidence.options,
                            dataAttributes = Seq(
                              (DoesHaveEvidence.name, "data-toggle-id", "evidenceFileUpload")
                            ),
                            args = Seq(
                                '_label -> Messages("hasEvidence.label"),
                                '_labelClass -> "form-label-bold",
                                '_legend -> true,
                                '_fieldsetClass -> "inline"
                            )
                        )

                        <div id="evidenceFileUpload" data-toggle-hidden>

                                @inputFile(
                                    field = model.form("evidence[]"),
                                    '_label -> Messages("evidence.label"),
                                    '_labelClass -> "form-label-bold",
                                    '_help -> Messages("evidence.label.1"),
                                    'class -> "filer_input"
                                )

                                @inputSelect(
                                    field = model.form("evidenceType"),
                                    options = EvidenceType.options,
                                    displayEmptyValue = false,
                                    args = Seq(
                                        '_label -> Messages("evidenceType.label"),
                                        '_labelClass -> "form-label-bold",
                                        '_class -> "form-control"
                                    )
                                )

                        </div>

                    <button type="submit" class="button">@Messages("uploadEvidence.show.button")</button>
                </div>
            </div>

    }
}
