$govuk-assets-path: "/business-rates-property-linking/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/business-rates-property-linking/assets/lib/hmrc-frontend/hmrc/";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/all";

.app-reference-number {
  display: block;
  font-weight: bold;
}

.new-centered-content {
    font-size: 19px;
    line-height: 1.31579;
    display: block;
    max-width: 960px;
    margin: 0 auto;
    line-height: 1.5;
    font-family: "nta",Arial,sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
}

.notification-banner {
  color: #FFFFFF;
  font-weight: bold;
  background-color: #1d70b8;
  padding-bottom: 5px;
  text-align: center;
  padding-top: 10px;
}

.notification-banner a {
  color: #FFFFFF;
}

.notification-banner p {
  margin: 0;
  font-weight: bold;
}

@media (min-width: 769px) {
  .notification-banner p {
    width: 75%;
    margin: 0 auto;
  }
}

details.govuk-details {
    margin-top: 3em;
}
