.dataTable * .searchfield .ss-input {
    height:30px;
    width: -webkit-calc(100% - 51px);
    width: calc(100% - 51px);
    padding: 0 10px 0 10px;
}


.dataTable * .searchfield .search-submit.ss-button {
    height:30px;
    width:30px;
    margin-top: -30px;
    background-position:  0% 50%;
    right:6px
}

.dataTable * .searchfield .search-submit.ss-dropdown-button {
    height:30px;
    width:30px;
    margin: 0px 20px 0 0;
    background-position:  0% 50%;
    right:6px;
    position:relative;
    float: right;

}

.dataTable * .searchfield .ss-dropdown {
    margin:0;
    display:inline-block;

}
.sorting {
    background: url("../images/sort_both.png") no-repeat scroll center right;
}

.sorting_asc {
    background: url("../images/sort_asc.png") no-repeat scroll center right;
}

.sorting_desc {
    background: url("../images/sort_desc.png") no-repeat scroll center right;
}

.sorting a, .sorting_asc a, .sorting_desc a {display:block;}
.sorting a:focus, .sorting_asc a:focus, .sorting_desc a:focus {background-color: transparent;}