.table-checkbox.multiple-choice {
  padding-top: 21px;
  padding-bottom: 21px;
}

.table-checkbox.multiple-choice > label {
  width: auto;
  padding: 0px;
}

#known-agents td {
  vertical-align: middle;
}