// ==========================================================================
// Content
// ==========================================================================

.lte-ie8{
    #content{
        margin: 0 auto;
    }
}

@media (max-width: 1019px){
    #content {
        margin: 0;
    }

}

#content:focus {outline:0;}

.section-overview{

	margin-top: 1.5em;
	p{
		font-weight: 800 !important;
	}
}
strong{
	font-weight: 800;
}

.well{
	background-color: $grey-3;
	padding: 1em;
    margin: 10px 0 0 0;
    .heading-xlarge{
    	margin: 0 0 20px 0;
    }
}
.heading-confirmation{
	background-color: $turquoise;
	color: #fff;
	padding: .6em;
	text-align: center;
	margin-top: 0;
	@include bold-36;

	.reference-text{
	  color: #fff;
	  margin-top: 1em;
	  @include core-24;
	  display: block;
	  font-weight: 100;
	}
	.reference-number{
		font-weight: 800;
		font-size:  1em;
		margin-top: 0;
	}
}
.rateable-value {
    border: none;
    margin-bottom: 30px;
    background: #005ea5;
    color: #fff;
    padding: 15px 15px 18px 15px;

    .rateable-value-text {
            margin-bottom:0;
            margin-top:0;
        }

        .rateable-value-numeric {
            margin-bottom: 0;
            margin-top: 0;
            @include bold-48();
        }
}

.information-bar {
    border: none;
    background: #005ea5;
    color: #fff;
    padding: 15px 15px 18px 15px;
}


// cancellation
.cancelled span {
    color: $red;
    font-weight: 800;
}

.rounded-figure {
    float:right;
    .rounded-figure-text {
        display: block;
        margin: 10px 0;
        text-align: right;
    }

    .rounded-figure-value {
        display: block;
        text-align: right;
        @include bold-48();
    }
}

hr{
    &.main-header{
        height: 5px;
        background-color: $govuk-blue;
        border:0;
        margin:0;
    }
}

.heading-large.heading-with-rule{
    border-bottom: solid 2px $grey-2;
    padding-bottom: 10px;
    margin-top: 1.25em !important
}

//Phase banner
html .beta-banner .phase-tag {
    @include phase-tag;
}

.heading-confirmation-normal{
    font-weight: normal !important;
    font-size: .8em;
}
/* govuk_frontend_toolkit includes */
#global-header .header-proposition #proposition-links.header__menu__proposition-links{
    margin-top: 7px;
}

.report-error__content h2 {
  @include bold-24;
}

.heading-secondary{
    color: $grey-1;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
}

.transaction-banner__heading{
    color: $white;
}
summary span{
    text-decoration: underline;
}
.external-link{
    &:after,
    &:hover:after{
        content: "     ";
        background-position: right 6px;
    }
}
