
a.cca-icon {
  margin-left: 5px;
  text-align: center;
  background-color: govuk-colour("blue", "shade-10");
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  &:hover {
    background-color: govuk-colour("blue", "shade-50");
  }
  &:focus {
    background-color: govuk-colour("yellow");
    outline: 3px solid govuk-colour("black");
    box-shadow: none;
    &:before {
      color: govuk-colour("black");
    }
  }
  &:before {
    color: govuk-colour("white");
    font-weight: 700;
  }
  // equivalent to govuk-media-query($until: tablet)
  @media (max-width: 40.0525em) {
    width: 20px;
    height: 20px;
  }
}

br + a.cca-icon {
  margin-left: 0;
}

a.cca-icon__help {
  &:before {
    content:'?';
  }
}