
a.cca-icon {
  margin-left: 5px;
  background-color: var(--govuk-brand-colour);
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  text-decoration: none;
  vertical-align: middle;
  &:hover {
    background-color: var(--govuk-link-hover-colour);
  }
  &:focus {
    background-color: var(--govuk-focus-colour);
    outline: 3px solid var(--govuk-focus-text-colour);
    box-shadow: none;
    &:before {
      color: var(--govuk-focus-text-colour);
    }
  }
  &:before {
    color: var(--govuk-body-background-colour);
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1;
  }
  @media (max-width: 40.0525em) {
    width: 20px;
    height: 20px;
    &:before {
      font-size: 0.875rem;
    }
  }
}

br + .cca-icon {
  margin-left: 0;
}

.cca-icon__help {
  &:before {
    content:'?';
  }
}