// ==========================================================================
// Helpers
// ==========================================================================

@if not(function-exists(image-url)) {
  $path: "../images/";
}

.pull-right{
	float: right !important;
}

.pull-left{
	float: left !important;
}

.no-js{
	.hide-if-no-js{
		display: none;
    	visibility: hidden;
	}
	.show-if-no-js{
		display: block !important;
    	visibility: visible !important;
	}
}

.bottom-no{
    &-padding{
        padding-bottom: 0 !important;
    }
    &-margin{
    	margin-bottom: 0 !important;
	}
}

.no-margin{
	margin: 0 !important;
}

.margin-top{
    &-0{
        margin-top: 0 !important;
    }
    &-5{
        margin-top: 5 !important;
    }
    &-10{
        margin-top: 10px !important;
    }
    &-20{
        margin-top: 20px !important;
    }
    &-30{
        margin-top: 30px !important;
    }
}
.margin-bottom{
    &-0{
        margin-bottom: 0 !important;
    }
    &-5{
        margin-bottom: 5px !important;
    }
    &-10{
        margin-bottom: 10px !important;
    }
    &-20{
        margin-bottom: 20px !important;
    }
    &-30{
        margin-bottom: 30px !important;
    }
}
.clear-right{
    clear: right;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}

.unknown{
    color: $red;
}
