// ==========================================================================
// Lists
// ==========================================================================


// List summary
.list-summary {
  margin-bottom: 40px;

  &-item {
    border-bottom: 1px solid $grey-2;
    padding: 12px 0;

    &:first-child {
      border-top: 1px solid $grey-2;
    }

  }

}

// Bullets
.list-bullet{
    margin-left: 0;
}

.list-number{
    padding-left: 0;
    margin-left: 20px;
}
