@(showError: Boolean = false)(implicit request: Request[_], messages: Messages)

    @main_template(
        Messages("betaLogin.title"),
        topNavigation = false
    ) {
        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="heading-xlarge">@Messages("betaLogin.title")</h1>

                <div class="message-warning" role="group" aria-labelledby="warning-summary-heading-example-1" tabindex="-1" >
                    <p><strong>Please note that during this test phase any information submitted using this service will not be retained by the Valuation Office Agency.</strong></p>
                </div>


                <form action="@routes.BetaLoginController.login" method="post">
                    @helper.CSRF.formField
                    <div class="form-group @if(showError) { error }">
                        @if(showError) { <p class="error-message">Incorrect password</p> }
                        <label class="form-label-bold">@Messages("betaLogin.password")</label>
                        <input type="password" name="betaloginkey" class="form-control" />
                    </div>

                    <p>
                        <button type="submit" id="continue" class="button">@Messages("label.continue")</button>
                    </p>
                </form>

            </div>
        </div>
    }
