@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import _root_.template.Display

@(model: DeclareCapacityVM)(implicit request: Request[_])

@main(Messages("declareCapacity.title")) {

    <main id="content">

        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="form-title heading-large">@Messages("declareCapacity.title")</h1>

                @includes.errorSummary(model.form)

                <div class="form-group">
                    <p class="heading-medium">@Messages("declareCapacity.message")</p>
                    <p class="address-confirmation" style="font-size:36px">
                        @Display.address(model.address)
                    </p>
                    <div class="panel-indent">
                        @Messages("declareCapacity.incorrectProperty.prefix")
                        <a href="@routes.Search.show">@Messages("declareCapacity.incorrectProperty.link")</a>
                    </div>
                </div>

                @form(routes.Search.attemptLink()) {

                    @inputRadioGroup(
                        field = model.form("capacity"),
                        options = CapacityType.options,
                        args = Seq(
                            '_label -> Messages("capacity.label"),
                            '_labelClass -> "form-label-bold",
                            '_error -> model.form("capacity").error
                        )
                    )

                    <legend class="form-label-bold">@Messages("declareCapacity.form.legend")</legend>

                    @dateFields(model.form, "fromDate")

                    @dateFields(model.form, "toDate", helpText = Some(Messages("declareCapacity.toDate.help")))
                    <p>
                        <button type="submit" id="continue" name="continue_button" class="button">@Messages("declareCapacity.submit.button")</button>
                    </p>

                </div>
            </div>

            <div class="column-third"></div>
        }

    </main>
}