@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@(model: DeclareCapacityVM)(implicit request: Request[_])

@main(Messages("declareCapacity.title")) {

    <main id="content">

        <h1 class="heading-xlarge">@Messages("declareCapacity.title")</h1>

        @includes.errorSummary(model.form, "declareCapacity")

        @form(routes.Search.attemptLink()) {

            <div class="grid-row">
                <div class="column-two-thirds">

                    @inputRadioGroup(
                        field = model.form("capacity"),
                        options = CapacityType.options,
                        args = Seq(
                            '_label -> Messages("declareCapacity.capacity.label"),
                            '_labelClass -> "form-label-bold",
                            '_error -> model.form("capacity").error
                        )
                    )

                    @dateFields(model.form, "fromDate")

                    @dateFields(model.form, "toDate")
                    <p>
                        <button type="submit" id="continue" name="continue_button" class="button">@Messages("label.continue")</button>
                    </p>

                </div>
            </div>

            <div class="column-third"></div>
        }

    </main>
}