@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@()(implicit request: Request[_], messages: Messages)

    @main_template(
        Messages("ggRegistration.title"),
        topNavigation = false
    ) {
        <div class="grid-row">
            <div class="column-two-thirds">

                <div class="transaction-banner--complete">
                    <h1 class="transaction-banner__heading">@Messages("ggRegistration.title")</h1>
                </div>

                <p>@Messages("ggRegistration.p.1")</p>
                <p>@Messages("ggRegistration.p.2")</p>

                <a href="@routes.CreateIndividualAccount.show" class="button" role="button">@Messages("link.continue")</a>
            </div>
        </div>
    }
