@import config.FrontendAppConfig._

@(title: String,
  mainClass: Option[String] = None,
  mainDataAttributes: Option[Html] = None,
  bodyClasses: Option[String] = None,
  sidebar: Html = HtmlFormat.empty,
  contentHeader: Option[Html] = None,
  mainContent: Html = HtmlFormat.empty,
  serviceInfoContent: Html = HtmlFormat.empty,
  headScripts: Html = HtmlFormat.empty,
  scriptElem: Option[Html] = None,
  showLogoutLink: Boolean = true)(implicit request: RequestHeader, messages: Messages)

@import layouts.{govuk_template => hmrcGovUkTemplate}
@import uk.gov.hmrc.play.views.html.{layouts => uiLayouts}

@head = {
    @uiLayouts.head(
      linkElem = None,
      headScripts = Option(headScripts))
    <meta name="format-detection" content="telephone=no" />
}

@headerNavLinks = {
    @if(showLogoutLink) {
        <a href="@routes.Application.logOut">@Messages("logout.link")</a>
    } else {
        <a href="@routes.Login.show">@Messages("label.login")</a>
    }
}

@insideHeader = {
    @uiLayouts.header_nav(
      navTitle = Some("Business Rates Check"),
      navTitleLink = None,
      showBetaLink = false,
      navLinks = Some(headerNavLinks))
}

@afterHeader = {}

@betaBanner = {
    @uiLayouts.betaBanner(
        userLoggedIn = false,
        betaFeedbackUrl = "#",
        betaFeedbackUnauthenticatedUrl = "#",
        showFeedbackLinkInBetaBanner = true
    )
}

@bodyEnd = {
    @uiLayouts.footer(
      analyticsToken = Some(analyticsToken),
      analyticsHost = analyticsHost,
      ssoUrl = None,
      scriptElem =  scriptElem,
      gaCalls = None)
}

@footerTop = {}
@footerLinks = {
    @views.html.partials.footer_links()
}

@serviceInfo = {
    @uiLayouts.serviceInfo(
        betaBanner = betaBanner,
        includeGridWrapper = false,
        serviceInfoContent = Some(serviceInfoContent),
        includeHMRCBranding = false
        )
}

@mainContentHeader = {
    @if(contentHeader.isDefined) {
        @uiLayouts.main_content_header(contentHeader = contentHeader.get)
    }
}


@content = {
    @uiLayouts.main_content(
      article = mainContent,
      mainClass = mainClass,
      mainDataAttributes = mainDataAttributes,
      mainContentHeader = mainContentHeader,
      serviceInfo = serviceInfo,
      sidebar = sidebar)
}

@hmrcGovUkTemplate(Some(title), bodyClasses)(head, bodyEnd, insideHeader, afterHeader, footerTop, Some(footerLinks), true)(content)
