@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@()(implicit request: Request[_], messages: Messages)

    @main_template(Messages("releaseNotes.title"), topNavigation = false) {
        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="heading-xlarge">@Messages("releaseNotes.title")</h1>

                <p>In this version you can:</p>

                <ul class="list list-bullet">
                    <li>set up a Government Gateway account</li>
                    <li>register your personal details</li>
                    <li>verify your identity</li>
                    <li>register your business details</li>
                    <li>go to the dashboard</li>
                </ul>

                <p>You must then <strong>log out and wait 24 hours</strong> whilst we upload your details.</p>

                <p>You can then log back in to:</p>

                <ul class="list list-bullet">
                    <li>view your linked properties in the dashboard</li>
                    <li>view detailed assessments associated with those properties</li>
                    <li>start and complete a check against any of the assessments</li>
                </ul>

                <p>When you start a check, you can choose to:</p>

                <ul class="list list-bullet">
                    <li>tell the VOA about external factors affecting the property</li>
                    <li>split an assessment into one or more assessments</li>
                    <li>merge an assessment with other assessments</li>
                    <li>remove an assessment</li>
                    <li>tell the VOA about a legal decision that affects an assessment</li>
                </ul>

                <h2 class="heading-medium">Known issues</h2>

                <p>There are issues that we’re aware of and are currently working to fix:</p>

                <ul class="list list-bullet">
                    <li>the login screen has the wrong contact links</li>
                    <li>if you see ‘no record’ on the property features page within the check form, you’ll need to edit it and put in a value to progress with the form</li>
                    <li>when entering your address, you’ll need to use the postcode search tool rather than entering the address manually, in order to create your account correctly</li>
                </ul>

                <br/>

                <p>
                    <a href="@routes.Application.start()" class="button" role="button">@Messages("label.continue")</a>
                </p>

            </div>
        </div>
    }
