@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._

@()(implicit request: Request[_], messages: Messages)

    @main_template(Messages("releaseNotes.title"), topNavigation = false) {
        <div class="grid-row">
            <div class="column-two-thirds">

                <h1 class="heading-xlarge">@Messages("releaseNotes.title")</h1>

                <p>In this version you can:</p>

                <ul class="list list-bullet">
                    <li>set up a Government Gateway account</li>
                    <li>register your personal details</li>
                    <li>verify your identity</li>
                    <li>register your business details</li>
                    <li>go to the dashboard</li>
                    <li>link a property to your business</li>
                    <li>view your linked properties</li>
                    <li>view detailed assessments associated with those properties</li>
                    <li>start and complete a check against any of the assessments</li>
                </ul>

                <p>When you start a check, you can choose to:</p>

                <ul class="list list-bullet">
                    <li>confirm or change the information held for this assessment</li>
                    <li>tell the VOA about external factors affecting the property</li>
                    <li>split an assessment into one or more assessments</li>
                    <li>merge an assessment with other assessments</li>
                    <li>remove an assessment</li>
                    <li>tell the VOA about a legal decision that affects an assessment</li>
                </ul>

                <h2 class="heading-medium">Known issues</h2>

                <p>There are issues that we’re aware of and are currently working to fix:</p>

                <ul class="list list-bullet">
                    <li>the login screen has the wrong contact links</li>
                    <li>if you create multiple Government Gateway accounts with the same email address, none of them will link to a property. We need to remove these duplicates manually so that you can try again</li>
                    <li>if you sign up with a different email address to the one you provided us during sign up, you will not be linked to your property</li>
                </ul>

                <br/>

                <p>
                    <a href="@routes.Application.start()" class="button" role="button">@Messages("label.continue")</a>
                </p>

            </div>
        </div>
    }
