@(properties: Seq[Property])(implicit request: Request[_])

@main(Messages("search.title")) {
    <main id="content">
        <h1 class="heading-xlarge">@Messages("search.title")</h1>

        <h3 style="font-weight: bold; color: red;">PROTOTYPE NOTE: This will be the VMV search page and not part of this project</h3>
        <br />
        <style type="text/css">
            .searchfield {
  position: relative;
  margin-bottom: 20px;
  width: 85%;
}

.searchfield input {
  font-family: "proxima_nova", Arial, sans-serif;
  font-size: 19px;
  line-height: 1.31579;
  font-weight: 400;
  text-transform: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 93%;
  width: -webkit-calc(100% - 49px);
  width: calc(100% - 49px);
  margin: 0;
  padding: 0 0 0 10px;
  display: block;
  height: 50px;
  border: 1px solid #bbb;
  min-width: 8em;
  border-color: #bfc1c3;
  border-right: none;
}

.searchfield .search-submit {
  bottom: 0;
  right: 0;
  overflow: visible;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  border: none;
  overflow: hidden;
  text-indent: -5000px;
  color: #fff;
  background-color: #005ea5;
  background-image: url("/public/images/icons/search-button.png");
  background-repeat: no-repeat;
  background-position: -12.5% 50%;

  table#vmv-table, caption, tbody, tfoot, thead, tr, th, td {
      font-size: inherit;
      font-family: inherit;
      line-height: inherit;
      font-weight: normal;
  }

  table#vmv-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table#vmv-table th,
table#vmv-table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  padding: 0.75em 1.25em 0.5625em 0;
  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid #bfc1c3;
  vertical-align: top;
}

@@media (min-width: 641px) {
  table#vmv-table th,
  table#vmv-table td {
    font-size: 16px;
    line-height: 1.25;
  }
}

table#vmv-table th {
  font-weight: 700;
}

table#vmv-table th.numeric {
  text-align: right;
}

table#vmv-table td.numeric {
  font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  text-align: right;
}

@@media (min-width: 641px) {
  table#vmv-table td.numeric {
    font-size: 16px;
    line-height: 1.25;
  }
}

}
        </style>

        <div class="searchfield" id="searchfield1" style="display: block;">
            <input type="search" autocomplete="off" name="q" title="Search for a non-domestic property" value="Don't use this" class="js-search-focus" maxlength="12"/>
            <a href="/cca-check/v8/search_results" class="search-submit">Search</a>
        </div>
        <table class="table" id="vmv-table">
            <thead>
            <tr>
                <th>Address</th>
                <th>Description</th>
                <th>Area m²</th>
                <th>Current Rateable value</th>
                <th>2017 Rateable value</th>
                <th class="ifLoggedOutTable" style="display: none"></th>
            </tr>
            </thead>
            <tbody>
                @properties.map { p =>
                    <tr>
                        <td><a href="#">@p.address</a></td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td>...</td>
                        <td><a class="button" href="@routes.Search.declareCapacity(p.billingAuthorityReference)">@Messages("search.select.link")</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </main>
}