@()(implicit request: Request[_], messages: Messages)


@main_template(
    title = Messages("start.heading.register"),
    topNavigation = false
) {

    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                @Messages("start.heading.register")
            </h1>

            <p>@Html(Messages("start.p1", routes.Login.show))</p>

            <p>@Messages("start.p2")</p>

            <a href="@routes.Wizard.authenticationWizard" class="button">@Messages("start.register")</a>

    </div>
</div>

}
