@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@(model: PersonalNameVM)(implicit request: Request[_], messages: Messages)
@main_template(
    Messages("details.title"), topNavigation = true,
    topBackLink = true, bottomBackLink = true
) {
    <h1 class="heading-large margin-bottom-0 clear-right">
        <span class="section-title">@Messages("details.edit.personalName")</span>
    </h1>
    <p>
    @form(routes.DetailsController.personalNameSubmit() ) {
        @inputText(
            field = model.form("firstName"),
            '_label -> Messages("details.edit.label.firstName"),
            '_labelClass -> "form-label-bold",
            '_showConstraints -> false,
            'class -> "form-control"
        )
        @inputText(
            field = model.form("lastName"),
            '_label -> Messages("details.edit.label.lastName"),
            '_labelClass -> "form-label-bold",
            '_showConstraints -> false,
            'class -> "form-control"
        )
        <button type="submit" id="update" class="button">@Messages("details.edit.personalName.button.update")</button>
        <a href="@controllers.routes.DetailsController.show" class="button">
        @Messages("details.edit.personalName.button.cancel")
        </a>
    </p>
}
}
