@import utils.Formatters

@(individualAccount: DetailedIndividualAccount, personalAddress: Address)(implicit request: Request[_], messages: Messages)

@tableRow(key: String, value: String, link: Call) = {
    <tr>
        <td>@Messages(s"details.personal.$key")</td>
        <td>@value</td>
        <td>
            <a id="update@key.capitalize" href="@link">@Messages("link.update")</a>
        </td>
    </tr>
}

<h1 class="heading-large">@Messages("details.user")</h1>

<div class="table-wrapper">
    <table id="personalDetailsTable" class="table-font-xsmall margin-top-30 margin-bottom-20">
        <caption class="visuallyhidden">@Messages("details.user")</caption>
        <colgroup>
            <col style="width: 45%">
            <col style="width: 45%">
            <col style="width: 10%">
        </colgroup>
        <tbody>
            @tableRow("name", s"${individualAccount.details.firstName} ${individualAccount.details.lastName}", controllers.manageDetails.routes.UpdatePersonalDetails.viewName())
            @tableRow("address", Formatters.capitalizedAddress(personalAddress), controllers.manageDetails.routes.UpdatePersonalDetails.viewAddress())
            @tableRow("phone", individualAccount.details.phone1, controllers.manageDetails.routes.UpdatePersonalDetails.viewPhone())
            @tableRow("mobile", individualAccount.details.phone2.getOrElse(Messages("details.mobile.notSet")), controllers.manageDetails.routes.UpdatePersonalDetails.viewMobile())
            @tableRow("email", individualAccount.details.email, controllers.manageDetails.routes.UpdatePersonalDetails.viewEmail())
        </tbody>
    </table>
</div>

