@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import _root_.template.FormSupport._

@import controllers.manageDetails.UpdateDetailsVM
@(model: UpdateDetailsVM)(implicit request: Request[_], messages: Messages)

@main_template(
    Messages("updatePhone.title"),
    topBackLink = true,
    bottomBackLink = true,
    backLinkUrl = Some(controllers.manageDetails.routes.ViewDetails.show().url)
) {
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-large">@Messages("updatePhone.title")</h1>

            @form(controllers.manageDetails.routes.UpdatePersonalDetails.updatePhone()) {

                @inputText(
                    field = prepopulated(model.form("phone"), model.currentDetails.phone1),
                    '_label -> Messages("details.edit.label.telephone"),
                    '_labelClass -> "form-label-bold",
                    '_showConstraints -> false,
                    'class -> "form-control"
                )

                <p>
                    <button type="submit" id="update" class="button">@Messages("link.update")</button>

                    <a href="@controllers.manageDetails.routes.ViewDetails.show" class="button-secondary">
                    @Messages("link.cancel")
                    </a>
                </p>
            }

        </div>
    </div>
}
