@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import controllers.manageDetails.UpdateOrganisationDetailsVM
@import _root_.template.FormSupport._

@(model: UpdateOrganisationDetailsVM)(implicit request: Request[_], messages: Messages)

@main_template(
    Messages("updateBusinessName.title"),
    topBackLink = true,
    bottomBackLink = true,
    backLinkUrl = Some(controllers.manageDetails.routes.UpdatePersonalDetails.show().url)
) {
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">@Messages("updateBusinessName.title")</h1>

            @form(controllers.manageDetails.routes.UpdateOrganisationDetails.updateBusinessName()) {

                @inputText(
                    field = prepopulated(model.form("businessName"), model.currentDetails.companyName),
                    '_label -> Messages("label.companyName"),
                    '_labelClass -> "form-label-bold",
                    '_showConstraints -> false,
                    'class -> "form-control"
                )

                <p>
                    <button type="submit" id="continue" class="button">@Messages("link.update")</button>
                    <a href="@controllers.manageDetails.routes.UpdatePersonalDetails.show().url" class="button-secondary">
                    @Messages("link.cancel")
                    </a>
                </p>
            }

        </div>
    </div>
}