@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers._
@import controllers.manageDetails.UpdateOrganisationDetailsVM

@(model: UpdateOrganisationDetailsVM)(implicit request: Request[_], messages: Messages)

@main_template(
    Messages("updateBusinessAddress.title"),
    topBackLink = true,
    bottomBackLink = true,
    backLinkUrl = Some(controllers.manageDetails.routes.ViewDetails.show().url)
) {
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">@Messages("updateBusinessAddress.title")</h1>

            @form(controllers.manageDetails.routes.UpdateOrganisationDetails.updateBusinessAddress()) {

                @address(model.form, "address")

                <p>
                    <button type="submit" id="continue" class="button">@Messages("link.update")</button>
                    <a href="@controllers.manageDetails.routes.ViewDetails.show().url" class="button-secondary">@Messages("link.cancel")</a>
                </p>
            }

        </div>
    </div>
}